@font-face {
font-family: "Aribau";
src: url("/static/fonts/Aribau_Regular.otf");
}

p{
  font-family: "Aribau";
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input {-webkit-appearance: none; box-shadow: none !important; }
:-webkit-autofill { color: #fff !important; }

/* contact section */
.contact{
    display: grid;
    grid-template-columns: 630px 550px;
    justify-content: center;
    background: white;
}
.ctap-flex{
  width: 1400px;
  margin: auto;
}

.ctap-head{
    margin-left: 123px;
    margin-bottom: 6rem;
    font-weight: 900;
    font-size: 36px;
    color: white;
}

.pad{
    margin-top: 6rem;
    width: 620px;
    color: white;
    padding: 0px 10px;
    padding: 0px 5px;
    h1{
        color: black;
        line-height: 5px;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
    }
    
    p{
        color: black;
        line-height: 30px;
        padding-right: 34px;
    }

}
.dash{
    border: 4px solid #208FFF;
    width: 28px;
}
.pad-flx{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    h1{
        margin-left: 1rem;
        line-height: 0px;
        font-weight: 600;
        font-size: 16px;
        line-height: 5px;
    }
}

  .pad2 {
     margin-top: 6rem;
     margin-bottom: 100px;
     padding: 0px 5px;
    h1{
        color: black;
        line-height: 5px;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
    }
  }
  .asterik{
    margin-bottom: 5px;
  }
  /* form */
  input {
    width: 360px;
    box-sizing: border-box; 
    border: none;
    // border-bottom: 2px solid #dddddd;
    text-align: left; 
    font-size: 12px;
    padding: 10px 26px;
    margin-top: 15px;
    margin-right: 10px;
    font-weight: 600;
  }
  select {
    border: none;
    width: 317px;
    margin-top: 18px;
    outline: none;
    font-size: 12px;
    font-weight: 600;
  }
  input:focus {
    outline: none !important;
    // border-bottom: 2px solid #0e82f8;
  }
  
  input[type="submit"] {
    width: 20%;
    background-color: rgb(14, 130, 248);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 50px;
  }
  
  input[type="submit"]:hover {
    background-color: #00B3BE;
  }
  label {
    display: block;
    margin-bottom: 10px;
    padding: 0px 2.5px 0px 2.5px;
    margin-top: 1.5rem;
    color: #818181;
    width: 135px;
    font-size: 15.5px;
  }
  .form-svg{
        margin-top: 14px;
  }
  .form-flex{
      display: flex;
      justify-content: space-between;
      border-bottom: 3px solid #dddddd;
      align-items: center;
      padding-right: 14px;
  }
  .form-flex:focus-within{
      border-bottom: 2px solid blue;
  }

  form {
    margin-top: 74px;
    width: 500px;
  }

  @media only screen and (max-width: 800px) {
      .contact{
          display: grid;
          grid-template-columns: 100%;
      }
  }