.pad-flx{
      display: flex;
    align-items: center;
}
  
  
.container{
    width: 100% !important;
    margin: 0px auto;
    .ct1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      // width: 1000px;
      margin: 0 auto;
      // width: 90%;
    }
    .pad{
      width: 40%;
      min-width: 400px;
    align-self: start;
    justify-content: end;
    color: white;
        padding-top: 20px;
    // padding: 0px 0px 0px 116px;
    // margin-top: 7.5rem;
    margin: 25px;

    h1{
        color: black;
        line-height: 1;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        margin-bottom: 0;
      }
      
      p{
        font-size: 100%;
        color: black;
        line-height: 190%;
        // padding-right: 34px;
        margin-top: 14px !important;      
    }

  }

.pad2 {
  padding-top: 20px;
  margin: 25px;
  width: 40% !important;
  min-width: 400px !important;
    h1{
        color: black;
        line-height: 100%;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
    }
    form{
      .group{
        width: 100% !important;
        min-width: 400px !important;
      }
      input,label,select{
        font-size: 100%;
            }
    }
  }

  }
  .ct{


  
/* contact section */
.ctap-head {
    margin: 0px;
    font-weight: 900;
    font-size: 48px;
    color: white;
    background: #242525;
    // background-image: url(/static/ct-bkg.png) !important;
    height: 316px;
}
.overlay {
  h1{
    // width: 100%;
    font-size: 48px;
    width: calc(80% + 50px) !important;
    margin: auto;
    // padding: 0px 150px;
  }
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 3;
  cursor: pointer;
}

  }
// @media only screen and (max-width: 1000px) and (min-width: 700px)  {
// .contacts-flx {
//    flex-direction: column;
// }
// }
 @media only screen and (max-width: 1400px) { 
   .container{
     width: 80%;
    .ct1 {
      width: 100%;
    }
  }
  .ct{
  .overlay{
    h1 {
      width: 100%;
    }
  }
}
 }

  @media only screen and (max-width: 800px) { 
     .container{
     width: 90%;
    .ct1 {
      flex-direction: column;
      width: 100%;
    }
  }
  }