@font-face {
font-family: "Aribau";
src: url("/static/fonts/Aribau_Regular.otf");
}

p{
  font-family: "Aribau";
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* contact section */
.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    background: white;
}
.pad{
    padding: 0rem 4.5rem 0rem 9.5rem;
    margin-top: 6rem;
    margin-left: 4rem;
    color: white;
    h1{
        color: black;
        line-height: 5px;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
    }
    
    p{
        color: black;
        line-height: 30px;
    }

}
.dash{
    border: 4px solid #208FFF;
    width: 28px;
}
.pad-flx{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    h1{
        margin-left: 1rem;
        line-height: 0px;
        font-weight: 600;
        font-size: 16px;
    }
}
.ctap-head{
   margin-left: 13.5rem;
   margin-bottom: 6rem;
   padding: 0rem 0rem 1rem 0rem;
   font-weight: 500;
   font-size: 45px;
   color: white;
}
  .pad2 {
     margin-top: 6rem;
    margin-right: 11rem;
    padding-right: 4.5rem;
    h1{
        color: black;
        line-height: 5px;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
            margin-left: 17px
    }
  }
  .asterik{
    margin-bottom: 5px;
  }
  /* form */
  input {
    width: 83%;
    box-sizing: border-box; 
    border: none;
    // border-bottom: 2px solid #dddddd;
    text-align: left; 
    font-size: 16px;
    padding: 13px 13px;
    margin-top: 8px;
    margin-right: 120px;
    font-weight: 600;
  }
  select {
    border: none;
    width: 100%;
    margin-top: 18px;
  }
  input:focus {
    outline: none !important;
    // border-bottom: 2px solid #0e82f8;
  }
  
  input[type="submit"] {
    width: 20%;
    background-color: #0E82F8;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 50px;
  }
  
  input[type="submit"]:hover {
    background-color: #00B3BE;
  }
  label {
    display: block;
    margin-bottom: 10px;
    margin-top: 1.5rem;
    color: #818181;
    width: 38%;
    font-size: 16px;
  }
  .form-svg{
        margin-top: 14px;
  }
  .form-flex{
      display: flex;
      justify-content: space-between;
      border-bottom: 3px solid #dddddd;
      align-items: center;
      padding-right: 14px;
  }
  .form-flex:focus-within{
      border-bottom: 2px solid blue;
  }

  form {
    width: 100%;
    border-radius: 5px;
    padding: 20px;
  }

  @media only screen and (max-width: 800px) {
      .contact{
          display: grid;
          grid-template-columns: 100%;
      }
  }