.explore{
}
.tp{
display: flex;
flex-wrap: wrap;
justify-content: center;
.card{
    .link{font-size: 25px;}
}
}
.box{
padding: 39px 6vw;
}
.tp1 {
.card{

    width: 527px !important;
    a{
        font-family: "Nunito";
        font-size: 24px !important;
    }
    h3{
        font-weight: bold;
        font-size: 52px;
        color: white;
        margin-bottom: 0px !important;
    
    }
}

}

#explore{
   width: 173px;
    height: 37px;
    outline:  #208FFF;
    color:  #208FFF;
    background-color: #1C2124;
     border-radius: 5px;
     font-weight: 600;
}
#select{
    display: flex;
    justify-content: flex-end;
}
.tp p{
    font-weight: 500;
    line-height: 30px;
font-size: 20px;

}
.tp1{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 500px;
    align-self: center;
    /* margin-left: 100px; */
}
.tp2{
    display: flex;
    /* align-content: center; */
    /* width: 100%; */
    img{
        width: 507px;
    }
}
.dpn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
}

/* cards */
.crda{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #2A2A2A;
    padding: 15vh 11vw;
    margin: 5px 0px 5px 0px ;
}
.crdb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #2A2A2A;
    padding: 15vh 11vw;
    margin: 5px 0px 5px 0px ;

}
.crd1 h1{
    font-weight: Bold;
font-size:36px;
    color: white;

}
.crd p{
font-size: 18px;

}
.crd1{
    width: 500px;
}
.crd1,.crd2 img{
    width: 500px;
height: 400.85px;
}

@media screen and (max-width: 700px){
    .crd1,.crd2 img, .tp2 img{
        width: 300px;
    height: auto;
}
.tp1 h1{
    font-size: 2.7rem;
}
.crda{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .crda{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
     }
 
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 900px) {
    .crda{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
         }
     
 