
.tp{
    display: flex;
.card{
    .link{
        font-size: 25px;
        padding-top: 30px;
    }
}
}
.box{
padding: 55px 6vw;
}
.tp1 {
    width: 100%;
.card{
    a{
        font-family: "Nunito";
        font-size: 24px !important;
    }
    h3{
        font-weight: bold;
        font-size: 48px !important;
        color: white;
        margin-bottom: 0px !important;
        line-height: 35px;
    }
}

}

#explore{
   width: 173px;
    height: 37px;
    outline:  #208FFF;
    color:  #208FFF;
    background-color: #1C2124;
     border-radius: 5px;
     font-weight: 600;
}
#select{
    display: flex;
    justify-content: flex-end;
}
.tp p{
    font-weight: 500;
    line-height: 30px;
    font-size: 18px !important;

}
.tp2{
    display: flex;
    img{
        width: 507px;
    }
}


@media screen and (max-width: 700px){
    .crd1,.crd2 img, .tp2 img{
        width: 300px;
    height: auto;
}
.tp1 h1{
    font-size: 2.7rem;
}
.crda{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .crda{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
     }
 
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 1000px) {
    .tp{
display: grid;
flex-wrap: wrap;
grid-template-columns: 100%;
justify-items: center;
margin: auto;
padding: 0px 0px;
.card{
    .link{font-size: 25px;}
    padding: 0px 15px;
    width: 100%;
}
}
.box{
padding: 39px 6vw;
}
.tp1 {
.card{

    width: 100% !important;
    a{
        font-family: "Nunito";
        font-size: 24px !important;
    }
    h3{
        font-weight: bold;
        font-size: 52px;
        color: white;
        margin-bottom: 0px !important;
    
    }
  
}

}

#explore{
   width: 173px;
    height: 37px;
    outline:  #208FFF;
    color:  #208FFF;
    background-color: #1C2124;
     border-radius: 5px;
     font-weight: 600;
}
#select{
    display: flex;
    justify-content: flex-end;
}
.tp p{
    font-weight: 500;
    line-height: 30px;
font-size: 20px;

}
.tp1{
    width: 100%;
    align-self: center;
}
.tp2{
    display: flex;
    img{
        width: 100%;
    }
}
         }
     
 