@media screen and (max-width: 570px) {
  .main-div {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
      sans-serif;
    font-style: normal;

    // REUSABLE CLASSES
    .title {
      color: #0e82f8;
    }
    .center {
      text-align: center;
    }

    //   MOBILE VIEW
    .midtop {
      text-align: center;
      background: #000000;
      color: white;
      padding: 10px 0px 50px 0px;
      .two-buttons {
        margin-right: 5px;
        margin-left: 5px;
        width: 150px;
        background: none;
        padding-top: 10px;
        padding-bottom: 10px;
        // padding-left: 5px;
        // padding-right: 10px;
        border: 0;
        background: #0a80f6;
        border-radius: 2px;
        color: white;
        cursor: pointer;
        font-size: small;
        text-align: center;

        p {
          font-size: x-small;
        }
      }
    }

    .features-1 {
      .card-grid {
        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: 0px 25%;
        // padding: 30px 0px;
        // gap: 30px;
      }
      .slide-button {
        background: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 0px;
        border: 0;
        color: black;
        cursor: pointer;
      }
    }

    .features-2 {
      .feature-select-div {
        display: flex;
        justify-content: center;
        .feature-select {
          padding: 5px 30px;
          color: #0e82f8;
        }
      }
      .feature-grid {
        display: none;
      }
    }
    .features-3 {
      display: flex;
      justify-content: center;
      margin: 0px 20px;
      .features-3--blue-line {
        border-bottom: 5px solid #0e82f8;
        width: 88px;
      }
      .features-3-flex {
        display: flex;
        .features-3--list {
          margin-left: 20px;
          // width: 50%;
        }
        .schedule-a-demo {
          width: 244px;
          height: 26px;
        }
      }
    }

    .search-div {
      text-align: center;
      .search {
        display: inline-block;
      }
    }
  }
}
@media screen and (min-width: 570px) {
  .main-div {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
      sans-serif;
    font-style: normal;

    // REUSABLE CLASSES
    .title {
      color: #0e82f8;
    }
    .center {
      text-align: center;
    }

    //   PC VIEW
    .midtop {
      text-align: center;
      background: #000000;
      color: white;
      padding: 10vh 0px 5vh 0px;
      .two-buttons {
        margin-right: 5px;
        margin-left: 5px;
        width: 140px;
        // background: none;
        padding-top: 10px;
        padding-bottom: 10px;
        // padding-left: 5px;
        // padding-right: 10px;
        border: 0;
        // background: #0a80f6;
        border-radius: 2px;
        // color: white;
        cursor: pointer;
        font-size: small;
        text-align: center;
        

        p {
          font-size: x-small;
        }
      }
      .white{
        background: white;
        color: #000000;        
      }
      .blue{
        background-color: #0A80F6;
        color: white;
      }
    }

    .features-1 {
      .card-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // display: flex;
        // justify-content: space-around;
        // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        // margin: 0px 150px 40px;
        gap: 30px;
      }
      .slide-button {
        background: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 0px;
        border: 0;
        color: black;
        cursor: pointer;
      }
    }

    .features-2 {
      .feature-select-div {
        display: none;
      }
      .feature-grid {
        display: flex;
        justify-content: center;
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        // margin: 0px 12rem 40px;
        gap: 30px;
      }
      .feature-buttons {
        background: none;
        padding-top: 10px;
        padding-bottom: 10px;
        // padding-left: 10px;
        // padding-right: 0px;
        margin: 0px 10px;
        border: 0;
        color: #3c3c41;
        cursor: pointer;
        font-size: medium;
        line-height: 20px !important;
        font-weight: 600;
        // font-size: small;
        text-align: center;
        // border-left: 1px solid white;
        border-bottom: 3px solid transparent;
      }
      .feature-buttons:hover {
        border-bottom: 3px solid #0e82f8;
        // transition: border-bottom 0.5s;
        transition: border-bottom 0.3s ease-out;
      }
      .active {
        border-bottom: 3px solid #0e82f8;
        color: #000000;
        // transition: border-bottom 0.5s;
        transition: border-bottom 0.3s ease-out;
        // transform: translate(0);
        // transition: border-bottom 0.05s ease-out;
      }
    }
    .features-3 {
      display: flex;
      justify-content: center;
      margin: 5vh;
      .features-3--blue-line {
        border-bottom: 5px solid #0e82f8;
        width: 88px;
      }
      .features-3-flex {
        display: flex;
        margin: 3vh;
        .features-3--list {
          margin-left: 20px;
          width: 29%;
          p {
            font-size: small;
          }
        }
        .schedule-a-demo {
          width: 244px;
          height: 26px;
        }
      }
    }

    .search-div {
      text-align: center;
      margin: 0vw 30vw;
      small{
        color: rgb(161, 161, 161);
      }
      .search {
        // display: inline-block;
      }
    }
  }
}
