@media screen and (max-width: 570px) {
    // MOBILE VIEW
    .about{
        // display: grid;
        // grid-template-rows: 1fr;
        .about__heading-and-button{
            padding-top: 10vh;  
            // height: 400px;
            // padding-bottom: 0vw;
            background: black;
            h1{
                text-align: center;
                background: #000000;
                margin: 0px;
                padding-bottom: 30px;
                color: white;
            }
            button{
                background: #208FFF;
                border: none;
                border-radius: 2px;
                font-size: small;
                text-align: center;
                padding: 1vw 2vw;
                color: white;
                width: 150px;
                line-height: 30px;
            }
            .about__3-cards{
                // z-index: 0;
                // position: absolute;
                // top: 23vw;
                // left: 18%;
                // height: 0px;
                // display: flex;
                // justify-content: center;
                display: grid;
                margin: 0px 20px;
                gap: 10px;
                // grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
                small{
                    p{
                        // width: 200px;
                        
                    }
                }
            }
        }     
        .about__card-div{
            margin-top: 10px;
            margin-bottom: 5rem;
            // margin: 30px;
            // height: 0px;
            
        }
        // .about__2-cards{
        //     // z-index: 0;
        //     // position: absolute;
        //     // top: 48vw;
        //     // left: 27vw;
        //     // height: 0px;
        //     // display: flex;
        //     // justify-content: center;
        //     gap: 10px;
        //     display: grid;
        //     margin: 0px 20px;
        //     // grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        //     // display: grid;
        //     // grid-template-columns: repeat(auto-fill,minmax(30vw,1fr));
        //     small{
        //         p{
        //             // width: 200px;
                    
        //         }
        //     }
        // }
        
        .about__info{
            // padding-top: 35vw;
            h6{
                text-align: center;
                color: #046BD3;
            }
            h1{
                text-align: center;
                
            }
        }
        .about__screen-and-features{
            display: flex;
            justify-content: space-around;
            .about__screen-and-features--button-grid{
                display: grid;
                button{
                    background: white;
                    border: none;
                    border-radius: 2px;
                    font-size: small;
                    padding: 1vw 2vw;
                    // margin-bottom: 1vw;
                    margin: 10px 20px;
                    // width: 40vw;
                    
                    h1,p{
                        text-align: left;
                    }
                }
                button:hover{
                    box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.3);
                }  
            }
        }
        .about__link{
            p{
                text-align: center;
            }
        }
    }
}
@media screen and (min-width: 571px) and (max-width: 990px) {
    // TABLET VIEW
    
    .about{
        // display: grid;
        // grid-template-rows: 1fr;
        .about__heading-and-button{
            padding-top: 10vh;
            height: 400px;
            padding-bottom: 0vw;
            background: black;
            h1{
                text-align: center;
                background: #000000;
                margin: 0px;
                padding-bottom: 30px;
                color: white;
            }
            button{
                background: #208FFF;
                border: none;
                border-radius: 2px;
                font-size: small;
                text-align: center;
                padding: 1vw 2vw;
                color: white;
            }
            margin-bottom: 40em;
            .about__card-div-1{
                .about__3-cards{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 0px;
                    div{
                        width: max-content;
                        p{
                            width: 200px;
                        }
                    }
                }
                // display: grid;
                // // // justify-items: center;
                // grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
                // // margin: 0px 150px 40px;
                // gap: 10px;
                // small{
                //     p{
                //         width: 200px;
                        
                //     }
                // }
            }
        }     
        // .about__card-div{
        //     margin-top: 7rem;
        //     // height: 0px;
            
        // }
        // .about__2-cards{
        //     // z-index: 0;
        //     // position: absolute;
        //     // top: 48vw;
        //     // left: 27vw;
        //     // height: 0px;
        //     gap: 10px;
        //     // display: flex;
        //     // justify-content: center;
        //     display: grid;
        //     grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
        //     margin: 0px 25em;
        //     small{
        //         p{
        //             width: 200px;
                    
        //         }
        //     }
        // }
        
        .about__info{
            // padding-top: 35vw;
            h6{
                text-align: center;
                color: #046BD3;
            }
            h1{
                text-align: center;
                
            }
        }
        .about__screen-and-features{
            display: flex;
            justify-content: space-around;
            .about__screen-and-features--button-grid{
                display: grid;
                button{
                    background: white;
                    border: none;
                    border-radius: 2px;
                    font-size: small;
                    padding: 1vw 2vw;
                    margin-bottom: 1vw;
                    width: 40vw;
                    
                    h1,p{
                        text-align: left;
                    }
                }
                button:hover{
                    box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.3);
                }  
            }
        }
        .about__link{
            p{
                text-align: center;
            }
        }
    }
  }
  
@media screen and (min-width: 991px) {
    // PC VIEW
    
    .about{
        // display: grid;
        // grid-template-rows: 1fr;
        .about__heading-and-button{
            padding-top: 10vh;
            height: 400px;
            padding-bottom: 0vw;
            background: black;
            h1{
                text-align: center;
                background: #000000;
                margin: 0px;
                padding-bottom: 30px;
                color: white;
            }
            button{
                background: #208FFF;
                border: none;
                border-radius: 2px;
                font-size: small;
                text-align: center;
                padding: 1vw 2vw;
                color: white;
            }
            margin-bottom: 25em;
            .about__card-div-1{
            }
            .about__3-cards{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                div{
                    width: max-content;
                    p{
                        width: 200px;
                    }
                }
                // display: grid;
                // // // justify-items: center;
                // grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
                // // margin: 0px 150px 40px;
                // gap: 10px;
                // small{
                //     p{
                //         width: 200px;
                        
                //     }
                // }
            }
        }     
        // .about__card-div{
        //     margin-top: 7rem;
        //     // height: 0px;
            
        // }
        // .about__2-cards{
        //     // z-index: 0;
        //     // position: absolute;
        //     // top: 48vw;
        //     // left: 27vw;
        //     // height: 0px;
        //     gap: 10px;
        //     // display: flex;
        //     // justify-content: center;
        //     display: grid;
        //     grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
        //     margin: 0px 25em;
        //     small{
        //         p{
        //             width: 200px;
                    
        //         }
        //     }
        // }
        
        .about__info{
            // padding-top: 35vw;
            h6{
                text-align: center;
                color: #046BD3;
            }
            h1{
                text-align: center;
                
            }
        }
        .about__screen-and-features{
            display: flex;
            justify-content: space-around;
            .about__screen-and-features--button-grid{
                display: grid;
                button{
                    background: white;
                    border: none;
                    border-radius: 2px;
                    font-size: small;
                    padding: 1vw 2vw;
                    margin-bottom: 1vw;
                    width: 40vw;
                    
                    h1,p{
                        text-align: left;
                    }
                }
                button:hover{
                    box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.3);
                }  
            }
        }
        .about__link{
            p{
                text-align: center;
            }
        }
    }
  }
  