.carou-div {
  width: 70%;
  margin: auto;
    .card-flx {
        display: flex !important;

        .card{
           justify-content: center;
            margin: 30px 10px 10px 30px;
            height: 280px !important;
            height: auto;
           h3{
                font-size: 34px;
                line-height: 30px;
                color: black;
            }
          
            p {
                color: black;
                font-size: 18px;
                line-height: 28px;
                margin: 0;
            }
            .link {
                font-weight: bold;
                font-size: 24px;
                line-height: 0px;
                font-family: "Nunito";
                margin: 0;
                margin-top: 10px !important;
            }
        }
        img{
            height: auto;
        }
    }
    }

.button__bar {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  width: 100%;
  text-align: center;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  // color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background-color: white;
  border: 1.5px solid #208FFF !important;
}

.button__bar li.slick-active button {
  background-color: #208FFF;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: #208FFF;
  outline: 0;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}

@media screen and (max-width: 800px){

  .carou-div {
  width: 100%;
    .card-flx {
        width: 90% !important;
        flex-wrap: wrap;
        margin: 0 auto;
      .card{
           margin: 12px 0px 0px 0px !important;
        }
    }
    }
}


