// .explore-cau{
//     margin: auto;
//     .carousel-opt{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 20px 1px 20px 1px;
//     border-bottom: 1px solid #C0C0C0;
//      cursor: pointer;
// }
// .svg{
//     fill: #208FFF;
//     margin: 5px;
// }
.carou-div {
    // display: flex;
    justify-content: center;
    // cursor: pointer;
    align-items: center;
    // margin: 52px 60px 0px 60px;
        .card {
           height: 300px;
            width: 444px;
            justify-content: center;
            margin: 30px 10px 10px 30px;
            h3{
                font-size: 34px;
                line-height: 30px;
            }
          
            p {
                font-size: 18px;
                line-height: 28px;
                margin: 0;
            }
            .link {
                font-weight: bold;
                font-size: 24px;
                line-height: 0px;
                font-family: "Nunito";
                margin: 0;
                margin-top: 10px !important;
            }
        }
    }
// }



// @media screen and (max-width: 800px){
//     .container{
//         width: 90%;
//         margin: 0 auto;
//     }
// .explore-cau {

// .carou-div {   
//     flex-wrap: wrap;   
//         .card {
//         width: 150vw;
//         height: 40vh;
//           margin: 2vh 0vw;
// }
// }
//     }
// }

// .carou {
//   font-family: sans-serif;
//   text-align: center;
//   width: 500px;
//   margin: auto;
// }

.carou-div {
  width: 80%;
  margin: auto;
    .card-flx {
        display: flex !important;
        .card{
        img{
            height: auto;
        }
    }
    }
}

.button__bar {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  width: 100%;
  text-align: center;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}

.button__bar li.slick-active button {
  background-color: #208FFF;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: #208FFF;
  outline: 0;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}

@media screen and (max-width: 800px){

  .carou-div {
  width: 100%;
.card-flx {
        width: 90% !important;
        flex-wrap: wrap;
        margin: 0 auto;
        .card{
          height: auto;
        img{
            height: 300px;
        }
    }
    }
}
}

