.explore-cau{
    .carousel-opt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 1px 20px 1px;
    border-bottom: 1px solid #C0C0C0;
     cursor: pointer;
}
.svg{
    fill: #208FFF;
    margin: 5px;
}
.carousel-div {
    display: flex;
    justify-content: center;
    // cursor: pointer;
    align-items: center;
    margin: 52px 60px 0px 60px;
    
    .carousel-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
        .card {
           height: 261px;
            width: 444px;
            justify-content: center;
            h3{
                font-size: 34px;
                line-height: 30px;
            }
          
            p {
                font-size: 18px;
                line-height: 28px;
                margin: 0;
            }
            .link {
                font-weight: bold;
                font-size: 24px;
                line-height: 0px;
                font-family: "Nunito";
                margin: 0;
                margin-top: 34px !important;
            }
        }
    }
}
}