.portfolio-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    // padding: 0vh 20%;
    height: 323px;
    // align-items: center;
    // padding: 2rem;
    transition: ease-in-out 0.5s;
    margin: 1vh 0vw;
    // pointer-events: none;
    overflow-x: hidden;
    .words {
        // padding: 5vh 23vw;
        width: 25vw;
        position: relative;
        z-index: 2;
    }
    h3 {
        width: auto;
        text-align: start;
    }
    .background {
        padding: 1rem 0px 1rem 0px;
        // overflow-x: hidden;
        // overflow-y: hidden;
        position: absolute;
        // align-self: center;
        margin-top: 10px;
        z-index: 1;
        width: 99vw;
        height: 310px;
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("siwp.png");
        transition: ease-in-out 1s;
    }
    .second {
        width: 30vw;
        margin-left: 5vw;
        margin-top: 1vw;
        position: relative;
        z-index: 2;
        // margin: 2vh;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        p,
        a {
            line-height: 206.5%;
        }
    }
    a {
        font-size: 24px;
    }
}
.portfolio-desc:hover {
    .background {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("siwp.png");
        transform: scale(1.02);
        // transform: scale3d(1.05);
        transition: ease-in 0.5s;
        width: 97%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .portfolio-desc{

    .second{
        display: none;
    }
    .words{
        width: 50vw;
    }
   }
    }


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 850px) {
    .portfolio-desc{

        .second{
        width: 44vw;
        margin-left: 8vw;
        margin-top: 1vw;
        }
        
       }
        }
    

