.card-offer{
    margin: 25px 18px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.05);
    padding: 12px 0px;
    img{
        width: 288px;
    height: auto;
    }
    p{
        margin: 8px 18px;
        font-size: 16px;
    }
    a{
        margin-left: 184px;
    }
}