.cli {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // margin-bottom: 13vh;
    padding-bottom: 80px;
    background: white;
    h5 {
        color: #111517;
        font-size: 24px;
    }
}
.brand {
    img {
        margin: 20px 100px 0px 100px;
        width: 80px;
        height: auto;
    }
}
.bor3 {
    display: inline-block;
    width: 0px;
    height: 60px;
    border: 1px solid #878787;
}

.div4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
    color: white;

    .pf1 {
        .circle1 {
            border: 5px solid #208fff;
            border-radius: 50%;
        }
    }
    .pf2 {
        .circle2 {
            border: 5px solid #208fff;
            border-radius: 50%;
        }
    }
    .pf3 {
        .circle3 {
            border: 5px solid #208fff;
            border-radius: 50%;
        }
    }
    .pf4 {
        .circle4 {
            border: 5px solid #208fff;
            border-radius: 50%;
        }
    }
    .pf5 {
        .circle5 {
            border: 5px solid #208fff;
            border-radius: 50%;
        }
    }
    
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid #111517;
    }
    //  img:hover{
    //      border: 5px solid #208FFF;
    //  }
    .center2 {
        text-align: center;
        margin: 0vh 35vw;
        h3 {
            // margin-bottom: 10vh;
            font-size: 24px;
            font-weight: bold;
        }
        h4 {
            // margin-bottom: 5vh;
            font-size: 30px;
            line-height: 130%;
            font-weight: bold;
        }
        p{
            font-size: 16px;
        }
    }
}

.pf1 {
    position: relative;
    top: -15rem;
    left: -10rem;
}
.pf2 {
    position: relative;
    top: -15rem;
    left: 25rem;
}
.pf3 {
    position: relative;
    top: 1rem;
    left: 20rem;
}
.pf4 {
    position: relative;
    left: -21rem;
    bottom: -2rem;
}
.pf5 {
    position: relative;
    left: -10rem;
    top: 5rem;
}
.img-flx {
    // height: min-content !important;
    display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    .div4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        height: 40rem;
        margin: 10vh 0vw;
    }

    .pf1 {
        position: relative;
        top: 0rem;
        left: 0rem;
    }
    .pf2 {
        position: relative;
        top: 0rem;
        left: 0rem;
    }
    .pf3 {
        position: relative;
        top: 0rem;
        left: 0rem;
    }
    .pf4 {
        position: relative;
        left: 0rem;
        bottom: 0rem;
    }
    .pf5 {
        position: relative;
        left: 0rem;
        top: 0rem;
    }

    .img-flx {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 70px;
        img {
            margin-right: 5px;
            width: 50px;
            height: 50px;
        }
    }
    .bor3 {
        display: none;
    }
}
