input {
    width: 360px;
    box-sizing: border-box; 
    border: none;
    // border-bottom: 2px solid #dddddd;
    text-align: left; 
    font-size: 12px;
    padding: 10px 26px;
    margin-top: 15px;
    margin-right: 10px;
    font-weight: 600;
  }
  select {
    border: 0px !important;
    width: 317px;
    margin-top: 37px;
    outline: none !important;
    font-size: 12px;
    font-family: "Muli";
    font-weight: 600;
    -webkit-appearance: none;
    -moz-appearance:    none;
    -ms-appearance:     none;
    -o-appearance:      none;
    appearance:         none;
    ::placeholder {
      font-family: "Muli";
}
  }
  input:focus {
    outline: none !important;
    // border-bottom: 2px solid #0e82f8;
  }
  
  input[type="submit"] {
    width: 20%;
    background-color: rgb(14, 130, 248);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    font-family: "Nunito";
  }
  
  input[type="submit"]:hover {
    background-color: #00B3BE;
  }
  label {
    display: block;
    margin-bottom: 10px;
    padding: 0px 2.5px 0px 2.5px;
    margin-top: 1.5rem;
    color: #818181;
    width: 135px;
    font-size: 13px;
    font-family: "Nunito";
  }

  .form-svg{
        margin-top: 14px;
  }
  
  .group{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #dddddd;
      align-items: center;
      width: 500px !important;
  }
  .group:focus-within{
      border-bottom: 2px solid blue;
  }
  .asterik{
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 1000px) {
    .group{
    width: 100% !important;
    }
    select {
      width: 60% !important;
    }
    input {
      width: 60% !important;
    }
    label {
      width: 31% !important;
    }
  }