.home{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px 100px 0px 100px;
    align-items: start;
}
.text p{
    font-size: 16px;
    text-align: initial;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.show{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;
}
/* .hover{
    width: 300px;
    height: 200px;
    z-index: 5;
} */
.bor{
    border: 5px solid blue;
    width: 50px;
}
.show .simg1{
    /* width: 377px;
    height: 245px; */
    position: relative;
    z-index: 4;
    right: 81px;
}
.show .simg2{
    /* width: 306px;
    height: 199px; */
    position: relative;
    right: 303px;
    z-index: 3;
}
.show .simg3{
    /* width: 244px;
    height: 158px; */
    position: relative;
    right: 473px;
    z-index: 2;
}
.show .simg4{
    /* width: 193px;
    height: 124px; */
    position: relative;
    right: 569px;
    z-index: 1;
}
.show .simg0{
    z-index: 5;
}
/* .show #hover:before{
    margin: 0vh 3vw;
    position: absolute;
} */
.show #hover{
    margin: 0vh 3vw;
    /* margin: 0vh 2vw; */
    /* content: ''; */
    /* margin: 2vh; */
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    /* background: #fff; */
    /* z-index: 1; */
}
.show #hover:not(#hover:hover){
    width: 400px;
    height: 200px;
}
.show #hover:hover {
    transition: 0.5s;
    /* position: absolute; */
    /* right: 569px; */
    transform: scale(1.5);
    margin: 0vh 3vw;
    z-index: 4;
}