.button-div{
    button{
                border: none;
                border-radius: 2px;
                font-size: small;
                padding: 10px 30px;
                margin-bottom: 1vw;
                cursor: pointer;
                // width: 3vw;
                // outline: blue;
            }
            .white{
                border: 1px solid #0E82F8;
                color: #0E82F8;
                // background: white;
                // outline: blue;
            }
            .white:active{
            }
            .blue{
                background: #0E82F8;
                color: white;
            }
}