.home {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    justify-items: center;
    // margin: 0px 1px 0px 100px;
    // align-items: start;
    // padding: 10vh 0vw;
    margin: 10vh 5vw 0vh 5vw;
    // height: 20vh;
    .text p {
        font-size: 16px;
        text-align: initial;
    }
    h3{
        
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .show {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        cursor: pointer;

        img {
            // width: 300px;
        }

        .simg1 {
            img {
                position: relative;
                left: -190px;
            }
            // z-index: 5;
            // height: 300px;
            .first {
                height: 200px;
                z-index: 5;
            }
            .second {
                height: 170px;
                z-index: 4;
            }
            .third {
                height: 140px;
                z-index: 3;
            }
            .fourth {
                height: 100px;
                z-index: 2;
            }
            .fifth {
                height: 60px;
                z-index: 1;
            }
        }
        .simg2 {
            img {
            position: relative;
            left: -260px;
        }

        // right: 20%;
        // display: none;
        // z-index: 4;
        .first,
        .third {
            height: 170px;
            z-index: 4;
        }
        .second {
            height: 200px;
            z-index: 5;
        }
        .fourth {
            height: 140px;
            z-index: 3;
        }
        .fifth {
            height: 100px;
            z-index: 2;
        }
    }
    .simg3 {
        img {
            position: relative;
            // right: 40%;
            left: -380px;
            position: relative;
        }
        
        // z-index: 3;
        .first,
        .fifth {
            height: 140px;
            z-index: 3;
        }
        .second,
        .fourth {
            height: 170px;
            z-index: 4;
        }
        .third {
            height: 200px;
            z-index: 5;
        }
    }
    .simg4 {
        img {
            // right: 60%;
            position: relative;
            left: -480px;
        }
        .first {
            height: 100px;
            z-index: 2;
        }
        .second {
            height: 140px;
            z-index: 3;
        }
        .third,
        .fifth {
            height: 170px;
            z-index: 4;
        }
        .fourth {
            height: 200px;
            z-index: 5;
        }
    }
    .simg5 {
        img {
            position: relative;
            left: -530px;
        }
        // right: 40%;
        .first {
            height: 60px;
            z-index: 1;
        }
        .second {
            height: 100px;
            z-index: 2;
        }
        .third {
            height: 140px;
            z-index: 3;
        }
        .fourth {
            height: 170px;
            z-index: 4;
        }
        .fifth {
            height: 200px;
            z-index: 5;
        }
    }
    }
}
