.solution-wrapper{
    padding: 10px 190px;
}

.solution-item{
    background-color: #0E82F8;
    min-height: 130px;
    border-radius: 10px;
    margin: 40px 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 27% 73%;
}

.icon-bg{
    height: 100px;
    width: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.solution-item-content{
    padding: 0 10px;
}

.solution-item-content h5{
    margin:0 0 5px 0;
    font-weight: bold;
}

.solution-item-content p{
    margin: 0;
    color: #ffffff;
}

/* Responsiveness Styling */

@media only screen and (max-width : 600px) {
    .solution-wrapper{
        width: 100%;
    }
    
    .solution-item{
        width: 100%;
        margin: 10px 0;
    }

    .solution-wrapper{
        padding: 2px 0;
    }

    .icon-bg{
        width:80px;
        height: 80px;
    }
  }