.icon-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    
}

.icon-item{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.icon-item img{
   height: 100% !important;
}

@media only screen and (max-width : 600px) {
    .icon-wrapper{
        width: 100%;
    }

    .icon-item{
        width: 200px;
        margin-top: 30px;
    }
}