.feature-heading {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    line-height: 151%;
    /* or 27px */

    text-align: center;
    letter-spacing: 0.1em;

    /* Project OS main (icons) */

    color: #046bd3;
}
