.input-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin: 20px 0px;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 15px 0px;
    section {
        img {
            width: 30px;
            height: 30px;
            position: relative;
            left: 35px;
            z-index: 3;
            top: 10px;
        }
    }
    .file-label {
        font-size: 16px;
        color: grey;
        position: relative;
        left: 5px;
        top: 10px;
    }
    .file-input {
        position: relative;
        left: 5px;
        top: 20px;
        font-size: 16px;
        background: none;
        box-shadow: 0px 0px 1px 0px;
        width: 400px;
        outline: solid #3472ff;
        // visibility: hidden;
        // opacity: 0;
    }
    .input-label {
        position: relative;
        left: 5px;
        top: 30px;
        z-index: 3;
        font-family: Aribau Grotesk;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 151%;
        /* or 21px */

        text-align: center;

        /* best grey */

        color: #818181;

        transition: 0.5s ease-in-out;
        // border-bottom: 0.5px solid black;
    }
    .input-field {
        font-size: 18px;
        position: relative;
        width: -webkit-fill-available;
        height: 30px;
        border: 0px solid black;
        outline: none;
        padding-left: 120px;
        text-align: center;
        // box-sizing: border-box;
    }

    .input-select {
        padding-left: 0px;
        margin-left: 120px;
        font-family: Aribau Grotesk;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 145%;
        /* or 23px */

        /* Text color */

        color: #1b1b1b !important;
        cursor: pointer;
        option {
            text-align: center;
        }
    }
    // &:focus-within .red-bottom {
    //     border-bottom: 1px solid red !important;
    // }
    // .up {
    //     font-size: 18px;
    //     position: relative;
    //     left: 5px;
    //     z-index: 3;
    //     top: 5px;
    //     // font-size: 18px;
    //     color: black;
    //     transition: 0.5s ease-in-out;
    //     // border-bottom: 0.5px solid black;
    // }
    // &:focus-within .input-label,
    // &:focus-within .up {
    //     top: 5px;
    //     font-size: 18px;
    //     color: #3472ff;
    //     // border-bottom: 0.5px solid #3472FF;
    //     transition: 0.5s ease-in-out;
    // }
    // &:focus-within .red-top,
    // &:focus-within .red-top,
    // .red-text {
    //     color: red !important;
    // }

    // &:focus-within .input-field {
    //     border-bottom: 3px solid #3472ff;
    // }

    @media screen and (max-width: 570px) {
        .input-field,
        .file-input {
            width: 80vw !important;
        }
    }
}
