.top-heading {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 114%;
    /* identical to box height, or 46px */

    text-align: center;

    color: #f4f4f4;
    margin: 0px 0px 7px;
}
.top-subheading {
    font-family: Aribau Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 169%;
    /* or 25px */
    margin: 0px 0px 30px;

    text-align: center;

    color: #c4c4c4;
    max-width: 460px;
}
