.why{
    display: grid;
    grid-template-columns: 40% 40%;
    /* padding: 2rem; */
    gap: 10%;
    /* margin: 0px 5vw; */
}
.why0{
    display: flex;
    flex-direction: column;
    /* padding: ; */
}
.why1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.why1 img{
 margin: 15px 0px 0px 15px;
}
.why1 h4{
    font-weight: bold;
    font-size: 24px;
}
.why1 p{
 
}
.bkg{
    width: 88px;
height: 88px;
background-color: #1C2124;;
margin-right: 20px;
}
.h1{
    text-align: center;
    font-weight: bold;
font-size: 40px;
color: white;
}
.text{
    display: flex;
    flex-direction: column;
}
.why2{
    align-self: center;
    /* align-self: center; */
    /* width: 400px; */
    /* height: 365px; */
    /* margin:33px 0px 0px 3px; */
}

@media only screen and (max-width: 570px) {
    .why{
        grid-template-columns: 100%;
    
    }
    .why2 img{
        width: 80vw;
        /* height: 365px; */
        /* margin:33px 0px 0px 3px; */
    }
}