
.contact__link{
    background-color: #208FFF;
    height: auto !important;
    padding: 9px 70px;
    text-transform: none !important;
    border-radius: 5px;
    font-family: 'Nunito';
    font-size: 12px;
}

.contact__link:hover{
    background-color: #5CADFF; 
}

.nav-wrapper{
   padding-top: 20px !important;
}
.nav__padding{
    padding: 0 100px;
}

