
.contact__link{
    background-color: #208FFF;
    height: auto !important;
    padding: 2px 60px;
    text-transform: none !important;
    border-radius: 5px;
}

.nav-wrapper{
   padding-top: 20px !important;
}
.nav__padding{
    padding: 0 100px;
}

