@media screen and (min-width: 991px) {
  .dropdown-button {
    display: none;
    width: 25px;
    height: 25px;
  }
  .nav-div {
    transition: ease-in 0.1s;
    position: fixed;
    z-index: 9999;
    max-height: 70px;
    background: #111517;
    // left: 19.5vw;
    &.nav-scroll {
      background: #1c2124;
      transition: ease-in 0.1s;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: 70px;
      // grid-template-columns: 30% 70%;
      color: white;
      // padding: 0vh 10vw;
      width: 90vw;
      margin: 0vh 5vw;
      // margin-bottom: 80px;
    }
    .logo {
      background: transparent;
      border: none;
    }
    .down {
      background-color: #f3f3f3;
    }
    .nav-lg a {
      color: white;
      font-family: "Nunito", "sans-serif" !important;
      font-weight: bold;
    }
    .nav-sm {
      display: flex;
      align-items: center;
      font-weight: bold;
    }
    .dropdown-content {
      display: none;
      ul {
        padding: 0;
        li {
          margin: 0;
          text-align: left;
          a {
            color: #1b1b1b;
            font-style: normal;
            font-weight: 600;
            // font-size: 20px;
            letter-spacing: 0.02em;
            padding-left: 23px;
            // width: 100%;
            font-size: 15px;
            line-height: 191%;
            text-align: center;
          }
        }
        li:hover {
          background-color: #f3f3f3;
        }
      }
    }
    .nav-sm .down .dropdown-content {
      display: block;
      position: absolute;
      text-align: left;
      background: #ffffff;
      // margin: 16px 100px 0px 0px;
      width: 237px;
    }
    .nav-lg {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: bold;
      color: white;
      .option {
        border-bottom: 3px solid transparent;
        .active {
          border-bottom: 3px solid #0e82f8;
        }
      }
      .option:hover,
      .option1:hover,
      .option2:hover {
        border: none;
      }
      .option,
      .option1,
      .option2 {
        &.nav-line {
          width: 70px;
          display: grid;
          img {
            display: none;
          }
        }
        &.nav-line:hover {
          img {
            display: inline-block;
            width: inherit;
          }
        }  
      }
      .option1 {
        border-bottom: 3px solid transparent;
        width: 50px;
        .active1 {
          border-bottom: 3px solid #0e82f8;
        }
      }
      .option2 {
        border-bottom: 3px solid transparent;
        width: 50px;
        .active2 {
          border-bottom: 3px solid #0e82f8;
        }
      }
    }
    .padding {
      margin-left: 35px;
      text-align: center;
      // padding: 1rem;
      font-size: 15px;
      font-family: "Nunito", "sans-serif" !important;
      &.nav-line {
        display: grid;
        img {
          display: none;
        }
      }
      &.nav-line:hover {
        img {
          display: inline-block;
          width: inherit;
        }
      }
    }
    .page {
      border-bottom: 3px solid transparent;
      font-size: 18px !important;
    }
    .page:hover {
      border: none;
    }
    .padding a {
      color: white;
    }
    .butt {
      background-color: #0e82f8;
      border-radius: 5px;
      font-family: "Nunito", "sans-serif" !important;
      font-weight: bold;
      padding: 13px 33px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 126.5%;
      text-align: center;
      font-weight: bold;
    }
    .butt:hover {
      background-color: #5cadff;
    }
    .nav-lg p {
      /* width: 25%; */
      color: white;
    }
    .none {
      display: flex;
      align-items: center;
    }
  }
}
@media screen and (max-width: 990px) {
  .nav-div {
    transition: ease-in 0.1s;
    position: fixed;
    z-index: 9999;
    // left: 19.5vw;
    background: #1c2124;
    &.nav-scroll {
      transition: ease-in 0.1s;
    }
    .nav {
      // background-color: #1c2124;
      width: 100vw !important;
      .divide-line {
        display: none !important;
      }
      .padding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-line{
          display: none;
        }
      }
      .page {
        display: none;
      }
    }
    .nav-lg {
      display: none;
      background-color: #1c2124;
      padding: 0px 0px 0px 20px;
    }
    .block {
      display: block;
      transition: ease-in-out 0.5s;
    }
    .nav-lg li a {
      color: white;
      width: 100%;
      font-weight: bold;
      font-size: 22px;
      padding: 0px 0px 0px 20px;
    }
    .nav-lg {
      padding: 5px 0px 5px 0px;
    }
    .nav-lg li:hover {
      background-color: #5cadff;
    }
  }
  .dropdown-button {
    width: 30px;
    height: 30px;
    margin: 0vh 5vw;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
  }
}
