.div4{
    img{
        border-radius: 50%;
     }
     img:hover{
         border: 5px solid #208FFF
     }
    .center{
        text-align: center;
        margin: 0vh 35vw;
        h3{
            margin-bottom: 10vh;
        }
        p{
            margin-bottom: 5vh;
        }

        }
    }
   
    .pf1{
        position: relative;
        top: 301px;
        left: 82rem;
    }
    .pf3{
            position: relative;
            top: 20rem;  
    }
    .pf4{
        position: relative;
        left: 19rem;
        bottom: 6rem;
    }
    .pf5{
    position: relative;
    left: 53rem;
    top: 3rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1200px) {
    .pf1{
        display: none;
     }
     .pf2{
         display: none;
     }
     .pf3{
         display: none;
     }
     .pf4{
         display: none;
     }
     .pf5{
         display: none;
     }
}

