.div4{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    margin: 10vh 0vw;

    .pf1{
        .circle1{
            border: 5px solid #208FFF;
         border-radius: 50%;
        }
    } 
    .pf2{
        .circle2{
            border: 5px solid #208FFF;
         border-radius: 50%;
        }
    } 
    .pf3{
        .circle3{
            border: 5px solid #208FFF;
         border-radius: 50%;
        }
    } 
    .pf4{
        .circle4{
            border: 5px solid #208FFF;
         border-radius: 50%;
        }
    } 
    .pf5{
        .circle5{
            border: 5px solid #208FFF;
         border-radius: 50%;
        }
    } 

     img{
         width: 100px;
         height: 100px;
         border-radius: 50%;
     }
    //  img:hover{
    //      border: 5px solid #208FFF;
    //  }
    .center{
        text-align: center;
        margin: 0vh 35vw;
        h3{
            margin-bottom: 10vh;
        }
        p{
            margin-bottom: 5vh;
        }

        }
    }
   
    .pf1{
        position: relative;
        top: 11rem;
    left: -14rem;
    }
    .pf2{
        position: relative;
        top: 5rem;
    left: 25rem;
    }
    .pf3{
            position: relative;
            top: -11rem;
    left: 20rem;;
    }
    .pf4{
        position: relative;
        left: -24rem;
    bottom: 22rem;
    }
    .pf5{
        position: relative;
        left: 0rem;
        top: -13rem;
    }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1200px) {
    .pf1{
        display: none;
     }
     .pf2{
         display: none;
     }
     .pf3{
         display: none;
     }
     .pf4{
         display: none;
     }
     .pf5{
         display: none;
     }
    }
    