.footer-title {
    h3 {
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 179%;
        /* identical to box height, or 36px */

        letter-spacing: 0.1em;

        color: #f4f4f4;
        margin: 0px;
        min-width: 250px;

    }
}
