.features{
    margin: 70px auto 150px;
    width: 100%;
    padding: 0px 0% 0px 0%;
    box-sizing: border-box;
    .feature-heading, .top-heading{
        margin: 0px;
    }
    .top-subheading{
        display: none;
    }
}