.contact-flex{
    display: flex;
    justify-content: center;
    .socials-area-button{
    background: none;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}
        .contact-button{
            button{
                margin-top: 2rem;
                background: #208FFF;
                border: none;
                border-radius: 5px;
                font-size: small;
                text-align: center;
                padding: 1vw 2vw;
                color: white;
            }
        }

.got-questions-grid{
    display: flex;
    justify-content: flex-start;

    .got-questions-box{
        width: 100%;
        margin-right: 30px;
    }
}
}