.explore{
}
.tp{
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 0vh 2vw;

}
.tp1 h1{
    font-weight: bold;
    font-size: 52px;
    color: white;

}
.tp p{
    font-weight: 500;
font-size: 20px;

}
.tp1{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 500px;
    align-self: center;
    /* margin-left: 100px; */
}
.tp2{
    display: flex;
    /* align-content: center; */
    /* width: 100%; */
}
.dpn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* cards */
.crd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #2A2A2A;
    padding: 0vh 2vw;

}
.crd1 h1{
    font-weight: Bold;
font-size:36px;
    color: white;

}
.crd p{
font-size: 18px;

}
.crd1{
    width: 500px;
}x
.crd1,.crd2 img{
    width: 500px;
height: 400.85px;
}

@media screen and (max-width: 570px){
    .crd1,.crd2 img{
        width: 90vw;
    height: 400.85px;
}
}