@media screen and (max-width: 570px) {
  // MOBILE VIEW
  .contact-flex {
    margin: 0px 20px;
    display: grid;
      // justify-content: center;
      .socials-area-button {
        background: none;
        border: 0;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }
    }
    
    .got-questions-grid {
        display: flex;
        justify-content: flex-start;
        
        .got-questions-box {
            width: 100%;
            margin-right: 30px;
        }
    }
    .contact-button {
      button {
        margin-top: 2rem;
        background: #208fff;
        border: none;
        border-radius: 5px;
        // padding: 40px 0px;
        line-height: 30px;
        font-size: small;
        text-align: center;
        padding: 1vw 2vw;
        color: white;
      }
    }
  }
  @media screen and (min-width: 570px) {
    // PC VIEW
  .contact-flex {
    display: flex;
    justify-content: center;
    .socials-area-button {
      background: none;
      border: 0;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }
  }
  
  .got-questions-grid {
      display: flex;
      justify-content: flex-start;
      
      .got-questions-box {
          width: 100%;
          margin-right: 30px;
      }
  }
  .contact-button {
    button {
      margin-top: 2rem;
      background: #208fff;
      border: none;
      border-radius: 5px;
      font-size: small;
      text-align: center;
      padding: 1vw 2vw;
      color: white;
    }
  }
  
}