.tp{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30vw, 1fr));
    margin: 0vh 15vw;
    /* gap: 10vw; */
    /* margin: 200px 0px 0px 50px; */
}
.tp1 h1{
    font-weight: bold;
    font-size: 52px;
    color: white;

}
.tp p{
    font-weight: 500;
font-size: 20px;

}
.tp1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 100px; */
}
.tp2{
    display: flex;
    /* align-content: center; */
    width: 100%;
}
.dpn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* cards */
.crd{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30vw, 1fr));
    padding: 1vh 5vw;
    margin: 1vh 0vw;
    gap: 10vw;
    background: #2A2A2A;
}
.crd1 h1{
    font-weight: Bold;
font-size:36px;
    color: white;

}
.crd p{
font-size: 18px;

}
.crd1{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    justify-content: center;
}
.crd12 img{
    width: 597px;
height: 464.85px;
}