.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    margin-top: 1rem;
    // flex-wrap: wrap;
    .link{
        padding: 10px;
        a{
             color: #818181;
             padding-bottom: 5px;
             font-size: 18px;
             font-weight: 600;
             cursor: pointer;
        }
    }
}
.head-flx a:hover{
    color: #818181;
    border-bottom: 2px solid #818181;
}
.head-flx .active:hover{
    color: #0E82F8 !important;
    border-bottom: 2px solid #0E82F8 !important;
}
.head-flx{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 174px;
    justify-content: center;
    // flex-direction: column;

    img{
        width: 150px;
        // min-width: 150px;
        height: 150px;
        // margin: 40px;
        margin: 50px 10px;
        // border-left: 1px solid #C9C9C9;
        border-right: 1px solid #C9C9C9;
        padding: 20px;
    }
    img:last-of-type{
        border-right: none;
    }
}
.divide2{
    // width: 1060px;
    border: 0.5px solid #C9C9C9;
}
.active{
     color: #0E82F8 !important;
    border-bottom: 2px solid #0E82F8;
}
@media screen and (max-width: 990px) {
    .head-flx{
        flex-direction: column;
        margin: 0;
    }
}