.login-page-div {
  background-image: url("background.png");
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .login-page {
      display: flex;
      justify-content: center;
        height: 60%;
      box-shadow: 1px 1px 10px 1px;
      .login-page-left {
        padding: 20vw 5vw;
        background-image: url("background.png");
        background-position: center;
        color: white;
        //   padding-left: 50px;
        width: 30vw;
        //   margin-left: 50px;
      background-color: #1d7c61;
      // opacity: 0.7;
      // position: relative;
      // top: 1px;
      padding-top: 100px;
      h3 {
          width: 50%;
        }
        a {
          color: white;
        // text-decoration: underline;
        border-bottom: 1px solid;
        // padding-bottom: px;
        
      }
    }
    .login-page-right {
        padding: 20vw 5vw;
        // width: 30vwpx;
      // margin-right:50px;
      padding: 0px 50px;
      background-color: #ffffff;
      // position: relative;
      // top: 1px;
      padding-top: 100px;
      .login-page-input1{
          margin: 10px 0px;
          border-radius: 2px;
          border: 1px solid;
        input {
          width: 300px;
          line-height: 40px;
          border: 0;
        }
        img{
            cursor: pointer;
            // line-height: 40px;
            margin-right: 10px;
            // margin-top: 0px;
        }
        input::placeholder{
            padding-left: 20px;
        }
      }
      .link-and-button {
        margin-bottom: 20px;
        a {
          line-height: 30px;
          text-decoration: none;
          font-style: italic;
          color: black;
        }
        button {
          font-size: small;
          line-height: 40px;
          color: white;
          width: 200px;
          border: 0;
          border-radius: 3px;
          background-color: #1d7c61;
        }
      }
      .dont-have {
        a {
          line-height: 30px;
          text-decoration: underline;
          font-style: italic;
          color: black;
          font-style: normal;
          font-weight: bolder;
        }
      }
    }
  }
}
