.tp-wrapper {
    width: 1000px;
    margin: 0 auto;
}
.tp{
    display: flex;
    align-items: center;
.card{
    .link{
        font-size: 25px;
        padding-top: 30px;
    }
}
}
.box{
padding: 80px 6vw;
}
.tp1 {
    width: 100%;
.card{
    a{
        font-family: "Nunito";
        font-size: 24px !important;
    }
    h3{
        font-weight: bold;
        font-size: 48px !important;
        color: white;
        margin-bottom: 0px !important;
        line-height: 35px;
    }
}

}
.tp2{
    width: 100%;
    padding-top: 6rem;
    img{
        width: 100%;
    }
}

#explore{
   width: 173px;
    height: 37px;
    outline:  #208FFF;
    color:  #208FFF;
    background-color: #1C2124;
     border-radius: 5px;
     font-weight: 600;
}
#select{
    display: flex;
    justify-content: flex-end;
}
.tp p{
    font-weight: 500;
    line-height: 30px;
    font-size: 18px !important;
}
// sub nav

.topnav {
  overflow: hidden;
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.topnav li {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav li:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

.exp-head-style{
    border-bottom: 2px solid #0E82F8;
    color: #0E82F8;
    :hover{
       color:rgb(129, 129, 129);
   }
}
@media screen and (min-width: 600px) {
.topnav li:first-child {
   display: none !important;
}

}

@media screen and (max-width: 600px) {
    .topnav {
    display: block;
    border: 1px solid black;
    margin-top: 5px;
    }
  .topnav li:not(:first-child) {display: none;}
  .topnav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}
// ^ sub nav


// offer div
.offer-options-style{
    border-bottom: 2px solid #0E82F8;
    color: #0E82F8;
}
.offer-options li:hover{
    color:rgb(129, 129, 129);
}

// Offer style

.offer-grid{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    .card{
       width: 320px !important;
       justify-self: end;
       align-self: center;
       padding-top: 125px;

       p {
           color: black;
       }
        h3{
            font-size: 33px;
            color: black;
        }
    }
}


.offer-options{
    display: flex;
        justify-content: center;
    margin-top: 37px;
    li{
        font-family: Nunito;
        margin: 0px 22px;
        cursor: pointer;
    }

}


@media screen and (max-width: 1400px){

    // top 
    .tp-wrapper {
        width: 91%;
    }

         }

     
 @media screen and (max-width: 800px){
    //  top
    .tp {
        flex-wrap: wrap;
    }
    .tp-wrapper {
        width: 100%;
    }
    .box{
   padding: 150px 6vw;

}

// card offer
.offer-grid{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
  
.card{
        justify-self: center;
       width: 320px !important;
    //     padding: 60px 11px 0px 53px;
    // margin: 1px 0px 0px 19px;
    p{
        color: black;
    }
        h3{
            font-size: 33px;
            margin: 0px 49px -5px 0px;
            color: black;
        }
    }
}
// option 
.circle-opt{
    justify-content: center;
}
 }

