.exp{
    background: white;
    h3{
        color: black;

    }
    p{
        color: black;
    }
    ul{
        margin-bottom: 2rem;
    }
    .carousel-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 50px;
        width: 80vw;
        margin: 0vh 9vw;
        .card {
            height: 500px;
            padding: 20px;
            justify-content: center;
        }
}
}
.exp-head{
    display: flex;
    margin: auto;
    width: 60%;
    li{
        margin: auto;
        padding: 10px 0px 10px 0px;
        cursor: pointer;
    }
    border-bottom: 1px solid #E5E5E5;
}

.exp-head-style{
    border-bottom: 2px solid #0E82F8;
    color: #0E82F8;
}
.exp-head li:hover{
    color:rgb(129, 129, 129);
}
// Offer style

.offer-grid{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
  
    .card{
       width: 288px;
    padding: 0px 11px 0px 86px;
    margin: 1px 0px 0px 19px;
        h3{
            font-size: 33px;
            margin: 0px 49px -5px 0px;
        }
    }
}
.offer-options{
    display: flex;
        justify-content: center;
    margin-top: 37px;
    li{
        margin: 0px 22px;
        cursor: pointer;
    }

}
.offer-options-style{
    border-bottom: 2px solid #0E82F8;
    color: #0E82F8;
}
.offer-options li:hover{
    color:rgb(129, 129, 129);
}