.card {
  box-shadow: 0px 0px 1px 0px;
  outline: transparent;
  padding: 1vw;
  height: 100%;
  color: white;
  background: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .card h3 {
    font-size: 36px;
    margin: 5px 0px; }
  .card p {
    font-size: 15px; }
  .card a {
    cursor: pointer;
    text-align: right; }
    .card a p {
      font-size: 30px;
      color: #0E82F8;
      height: fit-content;
      z-index: 2;
      margin: 0; }

@media screen and (min-width: 991px) {
  .dropdown-button {
    display: none;
    width: 25px;
    height: 25px; }
  .nav-div {
    transition: ease-in 0.1s;
    position: fixed;
    z-index: 9999; }
    .nav-div.nav-scroll {
      background: #1c2124;
      transition: ease-in 0.1s; }
    .nav-div .nav {
      display: flex;
      justify-content: space-between;
      color: white;
      width: 70vw;
      margin: 0vh 15vw; }
    .nav-div .nav-lg a {
      color: white;
      font-family: "Nunito", "sans-serif" !important;
      font-weight: bold; }
    .nav-div .nav-sm {
      display: flex;
      align-items: center;
      font-weight: bold; }
    .nav-div .dropdown-content {
      display: none; }
      .nav-div .dropdown-content ul {
        padding: 0; }
        .nav-div .dropdown-content ul li {
          margin: 0;
          text-align: left; }
          .nav-div .dropdown-content ul li a {
            color: #1b1b1b;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0.02em;
            padding-left: 23px;
            font-size: 15px;
            line-height: 191%;
            text-align: center; }
        .nav-div .dropdown-content ul li:hover {
          background-color: #f3f3f3; }
    .nav-div .nav-sm .padding:hover .dropdown-content {
      display: block;
      position: absolute;
      text-align: left;
      background: #ffffff;
      width: 237px; }
    .nav-div .nav-lg {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: bold;
      color: white; }
      .nav-div .nav-lg .option .active {
        border-bottom: 3px solid #0e82f8; }
      .nav-div .nav-lg .option1 .active1 {
        border-bottom: 3px solid #0e82f8; }
      .nav-div .nav-lg .option2 .active2 {
        border-bottom: 3px solid #0e82f8; }
    .nav-div .divide {
      border: 1px solid white;
      height: 30px;
      margin-right: 14px; }
    .nav-div .padding {
      margin-right: 3rem;
      text-align: center;
      padding: 1rem;
      font-family: "Nunito", "sans-serif" !important; }
    .nav-div .page {
      text-decoration: underline; }
    .nav-div .padding a {
      color: white; }
    .nav-div .butt {
      background-color: #0e82f8;
      border-radius: 5px;
      font-family: "Nunito", "sans-serif" !important;
      font-weight: bold;
      padding: 15.53px 39px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 126.5%;
      text-align: center;
      font-weight: bold; }
    .nav-div .butt:hover {
      background-color: #5cadff; }
    .nav-div .nav-lg p {
      /* width: 25%; */
      color: white; }
    .nav-div .none {
      display: flex;
      align-items: center; } }

@media screen and (max-width: 990px) {
  .nav-div {
    transition: ease-in 0.1s;
    position: fixed;
    z-index: 9999;
    background: #1c2124; }
    .nav-div.nav-scroll {
      transition: ease-in 0.1s; }
    .nav-div .nav {
      width: 100vw !important; }
      .nav-div .nav .padding {
        display: flex;
        justify-content: space-around;
        align-items: center; }
    .nav-div .nav-lg {
      display: none;
      background-color: #1c2124;
      padding: 0px 0px 0px 20px; }
    .nav-div .block {
      display: block;
      transition: ease-in-out 0.5s; }
    .nav-div .nav-lg a {
      color: white;
      width: 100%;
      font-weight: bold;
      font-size: 22px;
      padding: 0px 0px 0px 20px; }
    .nav-div .nav-lg {
      padding: 5px 0px 5px 0px; }
    .nav-div .nav-lg li:hover {
      background-color: #5cadff; }
  .dropdown-button {
    width: 25px;
    height: 25px;
    cursor: pointer; } }

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin: 2vw 15vw;
  margin-top: 8rem;
  padding: 5px;
  margin: auto; }

.sc {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey; }

.follow {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .follow p {
    color: #f4f4f4; }

.share {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #111517;
  flex-wrap: wrap;
  width: 70vw;
  margin: 2vw 15vw;
  margin: auto; }

.foot {
  background-color: #111517;
  width: 100%; }

.footer-brand {
  display: block; }

.footer ul a {
  font-size: 20px;
  font-weight: 700;
  color: #f4f4f4;
  font-family: "Nunito"; }

.footer li a {
  color: #c5c5c5;
  line-height: 4rem;
  font-size: 18px;
  font-family: "Aribau"; }

.footer ul {
  width: 19%;
  padding: 2rem 0rem 2rem 0rem;
  line-height: 30px; }

.pda {
  display: flex;
  justify-content: center;
  /* margin: auto;
    width: 60%; */
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0rem 30px 0rem; }

.pda li a {
  color: white;
  margin: 50px; }

.pda-border {
  border-top: 2px solid white; }

@media only screen and (max-width: 570px) {
  .footer {
    /* margin: 0vh 5vw; */
    display: grid;
    background-color: #111517;
    /* padding: 2rem; */
    /* width: 70%; */
    margin: 0; }
  .socials {
    /* width: 15rem; */
    display: grid;
    /* justify-content: space-evenly; */
    /* align-items: center; */ }
  .follow,
  .share {
    margin: 0vh 5vw; }
  .footer ul {
    width: 50%;
    padding: 2rem; }
  .footer ul a {
    font-size: 20px;
    font-weight: 700; }
  .footer li a {
    color: grey;
    line-height: 3rem; }
  .pda {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start; }
  .pda li a {
    color: white;
    margin: 5px; } }

