@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap);

.dark-bg{
    background: #111517 !important;
}

html, body{
margin: 0;
height: 100%;
box-sizing: border-box;
scroll-behavior: smooth;
}


li{
list-style-type: none;
text-decoration: none;
}
a{
text-decoration: none;
}

.center-text{
text-align: center;
}

.center-div{
width: 70vw;
margin: 0vw 15vw;
}

.space-50{
height: 50px;
}

/* Colors */

.about-text{
padding-left: 35px !important;
}

.blue-text{
color: #0E82F8 !important;
font-size: 18px;
font-weight: bold;
}

h1,h2,h3,h4,h5,h6{
/* margin: 0; */
font-family: 'Nunito', sans-serif;
/* font-weight: 700 !important; */
/* font-weight: lighter; */
/* font-size: 30px; */
}

h3{
    font-size: 36px;
}

a>p{
    color: #0E82F8;
}

a{
color: #0E82F8;
}

p, a, li{
/* font-size: 16px; */
font-family: 'Muli', sans-serif;
}

.link-text{
font-weight: bold;
margin-right: 10px;
font-size: 24px;
}
.contacts-flx {
  display: flex;
  justify-content: end;
  padding-top: 25px; }
  .contacts-flx .contacts-ct {
    width: 45%; }
  .contacts-flx img {
    height: 50px; }
  .contacts-flx h1 {
    font-weight: bold;
    font-size: 24px !important; }
  .contacts-flx a {
    border-bottom: 1px solid;
    color: #0E82F8; }

.container {
  width: 80%;
  margin: 0px auto; }

.ct {
  background: white;
  /* contact section */ }
  .ct .ct1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .ct .ctap-head {
    margin: 0px;
    font-weight: 900;
    font-size: 48px;
    color: white;
    background: #242525;
    background-image: url(/static/ct-bkg.png) !important;
    height: 316px; }
  .ct .overlay {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    cursor: pointer; }
    .ct .overlay h1 {
      font-size: 48px; }
  .ct .pad {
    width: 45%;
    align-self: start;
    justify-content: end;
    color: white; }
    .ct .pad h1 {
      color: black;
      line-height: 5px;
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 34px; }
    .ct .pad p {
      color: black;
      line-height: 30px;
      padding-right: 34px;
      margin-top: 14px !important; }
  .ct .dash {
    border: 4px solid #208FFF;
    width: 28px; }
  .ct .pad-flx {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 10px; }
    .ct .pad-flx h1 {
      margin-left: 1rem;
      line-height: 0px;
      font-weight: 600;
      font-size: 16px;
      line-height: 5px; }
  .ct .pad2 h1 {
    color: black;
    line-height: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 34px; }

@media only screen and (min-width: 990px) {
  .ct1 {
    width: 100%; }
  .ct {
    width: 100%; }
  .pad {
    width: 100%; } }

@media screen and (min-width: 991px) {
  .dropdown-button {
    display: none;
    width: 25px;
    height: 25px; }
  .nav-div {
    transition: ease-in 0.1s;
    position: fixed;
    z-index: 9999;
    max-height: 70px; }
    .nav-div.nav-scroll {
      background: #1c2124;
      transition: ease-in 0.1s; }
    .nav-div .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: 70px;
      color: white;
      width: 90vw;
      margin: 0vh 5vw; }
    .nav-div .logo {
      background: transparent;
      border: none; }
    .nav-div .down {
      background-color: #f3f3f3; }
    .nav-div .nav-lg a {
      color: white;
      font-family: "Nunito", "sans-serif" !important;
      font-weight: bold; }
    .nav-div .nav-sm {
      display: flex;
      align-items: center;
      font-weight: bold; }
    .nav-div .dropdown-content {
      display: none; }
      .nav-div .dropdown-content ul {
        padding: 0; }
        .nav-div .dropdown-content ul li {
          margin: 0;
          text-align: left; }
          .nav-div .dropdown-content ul li a {
            color: #1b1b1b;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0.02em;
            padding-left: 23px;
            font-size: 15px;
            line-height: 191%;
            text-align: center; }
        .nav-div .dropdown-content ul li:hover {
          background-color: #f3f3f3; }
    .nav-div .nav-sm .down .dropdown-content {
      display: block;
      position: absolute;
      text-align: left;
      background: #ffffff;
      width: 237px; }
    .nav-div .nav-lg {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: bold;
      color: white; }
      .nav-div .nav-lg .option {
        border-bottom: 3px solid transparent; }
        .nav-div .nav-lg .option .active {
          border-bottom: 3px solid #0e82f8; }
      .nav-div .nav-lg .option:hover,
      .nav-div .nav-lg .option1:hover,
      .nav-div .nav-lg .option2:hover {
        border: none; }
      .nav-div .nav-lg .option.nav-line,
      .nav-div .nav-lg .option1.nav-line,
      .nav-div .nav-lg .option2.nav-line {
        width: 70px;
        display: grid; }
        .nav-div .nav-lg .option.nav-line img,
        .nav-div .nav-lg .option1.nav-line img,
        .nav-div .nav-lg .option2.nav-line img {
          display: none; }
      .nav-div .nav-lg .option.nav-line:hover img,
      .nav-div .nav-lg .option1.nav-line:hover img,
      .nav-div .nav-lg .option2.nav-line:hover img {
        display: inline-block;
        width: inherit; }
      .nav-div .nav-lg .option1 {
        border-bottom: 3px solid transparent;
        width: 50px; }
        .nav-div .nav-lg .option1 .active1 {
          border-bottom: 3px solid #0e82f8; }
      .nav-div .nav-lg .option2 {
        border-bottom: 3px solid transparent;
        width: 50px; }
        .nav-div .nav-lg .option2 .active2 {
          border-bottom: 3px solid #0e82f8; }
    .nav-div .padding {
      margin-left: 35px;
      text-align: center;
      font-size: 15px;
      font-family: "Nunito", "sans-serif" !important; }
      .nav-div .padding.nav-line {
        display: grid; }
        .nav-div .padding.nav-line img {
          display: none; }
      .nav-div .padding.nav-line:hover img {
        display: inline-block;
        width: inherit; }
    .nav-div .page {
      border-bottom: 3px solid transparent;
      font-size: 18px !important; }
    .nav-div .page:hover {
      border: none; }
    .nav-div .padding a {
      color: white; }
    .nav-div .butt {
      background-color: #0e82f8;
      border-radius: 5px;
      font-family: "Nunito", "sans-serif" !important;
      font-weight: bold;
      padding: 13px 33px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 126.5%;
      text-align: center;
      font-weight: bold; }
    .nav-div .butt:hover {
      background-color: #5cadff; }
    .nav-div .nav-lg p {
      /* width: 25%; */
      color: white; }
    .nav-div .none {
      display: flex;
      align-items: center; } }

@media screen and (max-width: 990px) {
  .nav-div {
    transition: ease-in 0.1s;
    position: fixed;
    z-index: 9999;
    background: #1c2124; }
    .nav-div.nav-scroll {
      transition: ease-in 0.1s; }
    .nav-div .nav {
      width: 100vw !important; }
      .nav-div .nav .divide-line {
        display: none !important; }
      .nav-div .nav .padding {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .nav-div .nav .padding .nav-line {
          display: none; }
      .nav-div .nav .page {
        display: none; }
    .nav-div .nav-lg {
      display: none;
      background-color: #1c2124;
      padding: 0px 0px 0px 20px; }
    .nav-div .block {
      display: block;
      transition: ease-in-out 0.5s; }
    .nav-div .nav-lg li a {
      color: white;
      width: 100%;
      font-weight: bold;
      font-size: 22px;
      padding: 0px 0px 0px 20px; }
    .nav-div .nav-lg {
      padding: 5px 0px 5px 0px; }
    .nav-div .nav-lg li:hover {
      background-color: #5cadff; }
  .dropdown-button {
    width: 30px;
    height: 30px;
    margin: 0vh 5vw;
    cursor: pointer; }
  .dropdown-content {
    display: none; } }

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #111517;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0px 10vw 30px 10vw; }

.foot {
  background-color: #111517;
  width: 100%; }

.footer-brand {
  display: block; }

.footer ul a {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 139%;
  /* or 22px */
  letter-spacing: 0.19em;
  color: #ffffff; }

.footer li a {
  font-family: "Muli";
  font-style: normal;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 139%;
  /* or 22px */
  letter-spacing: 0.02em;
  color: #bbbbbb; }

.footer ul {
  width: 19%;
  padding: 2rem 0rem 2rem 0rem;
  line-height: 30px; }

.pda {
  display: flex;
  justify-content: center;
  /* margin: auto;
    width: 60%; */
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0rem 30px 0rem; }

.pda li a {
  color: white;
  margin: 50px; }

.pda-border {
  border-top: 2px solid white; }

@media only screen and (max-width: 570px) {
  .footer {
    /* margin: 0vh 5vw; */
    display: grid;
    background-color: #111517;
    /* padding: 2rem; */
    /* width: 70%; */
    margin: 0; }
  .socials {
    /* width: 15rem; */
    display: grid;
    /* justify-content: space-evenly; */
    /* align-items: center; */ }
  .follow,
  .share {
    margin: 0vh 5vw; }
  .footer ul {
    width: 50%;
    padding: 2rem; }
  .footer ul a {
    font-size: 20px;
    font-weight: 700; }
  .footer li a {
    color: grey;
    line-height: 3rem; }
  .pda {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start; }
  .pda li a {
    color: white;
    margin: 5px; } }

.cli {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
  background: white; }
  .cli h5 {
    color: #111517;
    font-size: 24px; }

.brand {
  border-bottom: 0.5px solid #c9c9c9;
  padding-bottom: 47px; }
  .brand img {
    margin: 20px 100px 0px 100px;
    width: 80px;
    height: 50px; }

.brand:last-of-type {
  border-bottom: none; }

.bor3 {
  display: inline-block;
  width: 0px;
  height: 54px;
  border-right: 1px solid #878787; }

.div4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
  color: white; }
  .div4 .pf1 .circle1 {
    border: 5px solid #208fff;
    border-radius: 50%; }
  .div4 .pf2 .circle2 {
    border: 5px solid #208fff;
    border-radius: 50%; }
  .div4 .pf3 .circle3 {
    border: 5px solid #208fff;
    border-radius: 50%; }
  .div4 .pf4 .circle4 {
    border: 5px solid #208fff;
    border-radius: 50%; }
  .div4 .pf5 .circle5 {
    border: 5px solid #208fff;
    border-radius: 50%; }
  .div4 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid transparent; }
  .div4 .center2 {
    text-align: center;
    margin: 0vh 35vw; }
    .div4 .center2 h3 {
      font-size: 24px;
      font-weight: bold; }
    .div4 .center2 h4 {
      font-size: 30px;
      line-height: 130%;
      font-weight: bold; }
    .div4 .center2 p {
      font-size: 16px; }

.pf1 {
  position: relative;
  top: -10rem;
  left: -5rem; }

.pf2 {
  position: relative;
  top: -10rem;
  left: 30rem; }

.pf3 {
  position: relative;
  top: 1rem;
  left: 15rem; }

.pf4 {
  position: relative;
  left: -20rem;
  bottom: -2rem; }

.pf5 {
  position: relative;
  left: -13rem;
  top: 5rem; }

.img-flx {
  display: flex; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 990px) {
  .div4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    margin: 0vh 0vw; }
  .brand {
    border-bottom: none;
    padding-bottom: 0; }
  .cli {
    padding: 0px !important; }
    .cli br {
      display: none; }
  .more-div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .more-div .off {
      display: none !important; }
    .more-div .button {
      width: 68px;
      height: 68px;
      border-radius: 50%;
      margin: 0px auto;
      border: none;
      background: #1c2124;
      color: white;
      font-size: 36px;
      position: relative;
      top: 30px; }
  .pf1 {
    position: relative;
    top: 0rem;
    left: 0rem; }
  .pf2 {
    position: relative;
    top: 2.5rem;
    left: 0rem; }
  .pf3 {
    position: relative;
    top: 5rem;
    left: 0rem; }
  .pf4 {
    position: relative;
    left: 0rem;
    bottom: -2.5rem; }
  .pf5 {
    position: relative;
    left: 0rem;
    top: 0rem; }
  #mission {
    width: 90vw;
    margin: auto;
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 212%;
    /* or 47px */
    text-align: center; }
  #what-our-clients {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 126.5%;
    /* or 25px */
    text-align: center; }
  #div4-top-img {
    width: 66px !important;
    height: 66px !important; }
  .img-flx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px; }
    .img-flx img {
      margin-right: 5px;
      width: 45px;
      height: 45px; }
  .bor3 {
    display: none; } }

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white; }
  .center .link {
    padding: 31px 17px; }
    .center .link a {
      color: #818181;
      cursor: pointer;
      padding-bottom: 5px;
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 126.5%;
      /* identical to box height, or 23px */
      /* Best grey */ }

.head-flx a:hover {
  color: #818181;
  border-bottom: 2px solid #818181; }

.head-flx .active:hover {
  color: #0e82f8 !important;
  border-bottom: 2px solid #0e82f8 !important; }

.head-flx {
  display: flex;
  justify-content: center; }

.head-flx-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0px 1vw;
  justify-content: center;
  border-bottom: 0.5px solid #c9c9c9; }
  .head-flx-icons img {
    max-width: 150px;
    height: 100px;
    margin: 50px 0.3vw;
    border-right: 1px solid #c9c9c9;
    padding: 0px 20px; }
  .head-flx-icons img:last-of-type {
    border-right: none; }

.divide2 {
  border: 0.5px solid #c9c9c9; }

.active {
  color: #0e82f8 !important;
  border-bottom: 2px solid #0e82f8;
  font-style: normal;
  font-weight: bold !important;
  font-size: 18px;
  line-height: 126.5%;
  /* identical to box height, or 23px */
  /* Project OS main */ }

@media screen and (min-width: 990px) {
  .button {
    display: none; } }

@media screen and (max-width: 990px) {
  .center .link {
    padding: 25px 10px !important; }
    .center .link a {
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 16px !important;
      line-height: 126.5%; }
  .center .head-flx {
    display: flex; }
  .center .off {
    display: none !important; }
  .center .button {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin: 0px auto;
    border: none;
    background: #1c2124;
    color: white;
    font-size: 36px;
    position: relative;
    top: 30px; }
  .center .more-div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .center .head-flx-icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    border-bottom: none; }
    .center .head-flx-icons img {
      border: none; } }

@media only screen and (min-width: 991px) {
  .div1 {
    display: flex;
    justify-content: center;
    gap: 9px;
    margin: 2vw auto;
    height: 40vw; }
    .div1 .div1-large {
      min-width: 450px;
      width: 40%;
      margin-right: 9px; }
      .div1 .div1-large .card p,
      .div1 .div1-large .card h3 {
        margin: 0px auto !important;
        width: 80%; }
      .div1 .div1-large .card p {
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw !important;
        line-height: 200%;
        /* or 36px */
        letter-spacing: 0.01em; }
      .div1 .div1-large .card .content {
        padding: 1vw 0px; }
      .div1 .div1-large .card .title {
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 119%;
        /* identical to box height, or 48px */ }
    .div1 .div1--second {
      display: grid;
      gap: 9px;
      grid-template-columns: repeat(1fr);
      min-width: 450px;
      width: 40%; }
      .div1 .div1--second .div1--second-top .card {
        padding: auto; }
        .div1 .div1--second .div1--second-top .card h3,
        .div1 .div1--second .div1--second-top .card p {
          padding: 0px 32px !important; }
        .div1 .div1--second .div1--second-top .card h3 {
          font-family: Nunito;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 119%;
          /* identical to box height, or 36px */
          color: #ffffff; }
        .div1 .div1--second .div1--second-top .card .content {
          font-family: Muli;
          font-style: normal;
          font-weight: normal;
          font-size: 1vw !important;
          line-height: 208%;
          /* or 33px */
          letter-spacing: 0.01em;
          color: #f4f4f4; }
        .div1 .div1--second .div1--second-top .card .content2 {
          font-family: Muli;
          font-style: normal;
          font-weight: normal;
          line-height: 223%;
          font-size: 0.9vw !important;
          /* or 31px */
          letter-spacing: 0.01em;
          /* Placeholder */
          color: #f4f4f4; }
          .div1 .div1--second .div1--second-top .card .content2 .div1-ul {
            display: flex; }
    .div1 .div1--second--small {
      display: grid;
      gap: 9px;
      grid-template-columns: 1fr 1fr; }
      .div1 .div1--second--small .card {
        padding: auto; }
        .div1 .div1--second--small .card h3,
        .div1 .div1--second--small .card p {
          padding: 0px 12px !important;
          margin: 0; }
        .div1 .div1--second--small .card p {
          font-family: Muli;
          font-style: normal;
          font-weight: normal;
          font-size: 1.0vw !important;
          line-height: 208%;
          /* or 33px */
          display: flex;
          align-items: center;
          letter-spacing: 0.01em; }
        .div1 .div1--second--small .card .title {
          font-family: Nunito;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 119%; } }

@media only screen and (max-width: 990px) {
  .div1 {
    display: grid;
    grid-template-rows: 1fr;
    margin: 0px 20px;
    grid-template-columns: 100%;
    gap: 0px; }
    .div1 .card {
      margin-bottom: 1vw; }
      .div1 .card p,
      .div1 .card h3 {
        padding: 0px 20px; }
      .div1 .card p {
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 200%;
        /* or 28px */
        letter-spacing: 0.01em; }
    .div1 .div1--second {
      gap: 0px; }
      .div1 .div1--second .card {
        margin-bottom: 1vw; }
        .div1 .div1--second .card .content2 .div1-ul {
          display: inline; }
          .div1 .div1--second .card .content2 .div1-ul ul {
            margin: 0;
            padding: 0;
            padding-left: 20px !important; }
      .div1 .div1--second .div1--second--small {
        grid-template-columns: 100%;
        gap: 6px; }
        .div1 .div1--second .div1--second--small .card {
          margin-bottom: 1vw; }
  .list {
    display: flex;
    margin: 0px 0px; }
    .list ul {
      margin: 0px 0px 0px 0px;
      padding: 1rem; } }

.sc {
  border-top: 1px solid  #C1C1C1;
  border-bottom: 1px solid  #C1C1C1;
  background: white; }
  .sc .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 2vw 5vw;
    margin-top: 8rem;
    padding: 5px;
    margin: auto; }
    .sc .socials .follow {
      width: 15rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .sc .socials .follow p {
        font-size: 16px;
        line-height: 119%;
        /* identical to box height, or 19px */
        /* Text color */
        color: #1B1B1B; }
      .sc .socials .follow img {
        cursor: pointer; }
    .sc .socials .share {
      width: 15rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .sc .socials .share p {
        font-size: 16px;
        line-height: 119%;
        /* identical to box height, or 19px */
        /* Text color */
        color: #1B1B1B; }
      .sc .socials .share img {
        cursor: pointer; }

@media only screen and (max-width: 570px) {
  .sc .socials {
    /* width: 15rem; */
    display: grid;
    /* justify-content: space-evenly; */
    /* align-items: center; */ }
    .sc .socials .follow,
    .sc .socials .share {
      margin: 0vh 5vw; } }

input {
  width: 360px;
  box-sizing: border-box;
  border: none;
  text-align: left;
  font-size: 12px;
  padding: 10px 26px;
  margin-top: 15px;
  margin-right: 10px;
  font-weight: 600; }

select {
  border: 0px !important;
  width: 317px;
  margin-top: 18px;
  outline: none !important;
  font-size: 12px;
  font-family: "Muli";
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  select ::placeholder {
    font-family: "Muli"; }

input:focus {
  outline: none !important; }

input[type="submit"] {
  width: 20%;
  background-color: #0e82f8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  font-family: "Nunito"; }

input[type="submit"]:hover {
  background-color: #00B3BE; }

label {
  display: block;
  margin-bottom: 10px;
  padding: 0px 2.5px 0px 2.5px;
  margin-top: 1.5rem;
  color: #818181;
  width: 135px;
  font-size: 13px;
  font-family: "Nunito"; }

.form-svg {
  margin-top: 14px; }

.group {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
  align-items: center;
  width: 500px !important; }

.group:focus-within {
  border-bottom: 2px solid blue; }

.asterik {
  margin-bottom: 5px; }

