.div3 {
    background-image: linear-gradient(
            89.74deg,
            #111517 0.01%,
            rgba(17, 21, 23, 0.89) 0%,
            rgba(17, 21, 23, 0.78) 3.14%,
            rgba(17, 21, 23, 0) 78.53%
        ),
        url("Rectangle 75.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 0vh 15vw;
    // width: max-content;
    // margin-left: auto;
    // margin-right: auto;
    // padding-left: 170px;
    // padding-right: 174px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    .div3-title {
        padding-top: 60px;
        width: 100%;
        margin: 0vh 19px;
        // width: 80%;
        width: 70vw;
        margin: 2vw 15vw;    
        .bold-title {
            font-weight: bold;
        }
    }
    .div3-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
        // grid-column: 1 / -1;
        // justify-content: center;
        width: 70vw;
        margin: 2vw 15vw;    
        padding-bottom: 71px;
        .card {
            background: rgba(255, 255, 255, 0.05) !important;
            backdrop-filter: blur(15px);
            width: 255px;
            height: 238px;
            // padding: 0px 26px !important;
            margin-right: 19px;

            h3 {
                font-size: 24px;
            }
            p {
                font-size: 12px;
            }
            a {
                p {
                    text-align: right;
                    font-size: 16px;
                }
            }
        }
        .card:hover {
            background: #208fff !important;
            // filter: brightness(200%);
            // opacity: 0.1;
            a {
                p {
                    color: white;
                }
            }
        }
    }
}

@media only screen and (max-width: 570px) {
    .div3 {
        // padding: 0vh 10vw;
        .div3-flex {
            display: flex;
            justify-content: center;
            .div3-grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}

@media only screen and (min-width: 571px) and (max-width: 990px) {
    .div3-title {
        text-align: center;
    }
    .div3 {
        // justify-content: center !important;
        // padding: 0% 5%;
    }
    .div3-flex {
        display: flex;
        justify-content: center;
        .div3-grid {
            display: flex;
            flex-wrap: wrap;
            // justify-content: center;
            justify-content: center;
        }
    }
}
