
.hero-content{
    margin-top: 100px;
}

.hero-content h4{
    color: #C4C4C4;
    font-weight: bold;
}

.hero-content h5{
    color: #C4C4C4;
    margin-top: 29px;
    font-size: 1.3em;
}

.btn-wrapper{
    margin-top: 40px;
}

.btn__blue{
    background-color: #208FFF;
    height: auto !important;
    text-transform: none !important;
}

.btn__transparent{
    border: 1px solid #ffffff;
    height: auto !important;
    text-transform: none !important;
}

.btn__blue:hover{
    background-color: #111517;
    border:  1px solid white;
}

.btn__transparent:hover{
    background-color: #208FFF !important;
    border: none;
}

.hero-content .btn{
    margin: 10px 10px !important;
    padding: 2px 60px;
    border-radius: 5px !important;
}

#outer-div{
    padding: 0 100px;
}

.hero-image-wrapper{
    position: relative;
    height: 320px;
    margin: 32px auto 0 auto;
    width: 100%;

}

svg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.hero-image-wrapper-overlay{
    position: absolute;
    background-color: rgba(17, 21, 23,.51);
    height: 100%;
    width: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

path{
    stroke-dasharray:5;
    animation: draw 20s infinite;
    animation-timing-function: linear;
  }
  
  @keyframes draw {
    from {
      stroke-dashoffset: 0
    }
    to {
      stroke-dashoffset: 200;
    }
  }


@media only screen and (max-width : 600px) {
    #outer-div{
        padding: 0;
    }

    #outer-div br{
        display: none;
    }
    .hero-content{
        margin-top: 80px;
    }

    .hero-content-wrapper, svg,.hero-image-wrapper-overlay{
        display: none;
    }

   
  }