    .div2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // margin-bottom: 69px;
        // margin: 0px 148px 69px;
        width: 70vw;
        margin: 2vw 15vw;
        @media only screen and (max-width: 700px) {
            // margin: 0px 0px 69px;
        }
        .card {
            img{
                // padding-bottom: 50px;
                // height: 75px;
                // width: 70px;
            }
        // width: 400px;
        height: 400px;
        width: 368px;
        // padding: 56px 45px !important;
        margin-right: 25px;
        border: 1px solid #208fff;
        background: transparent !important;
        box-sizing: border-box;
        border-radius: 4px;
        
        h3 {
            height: 70px;
            font-size: 24px;
            line-height: 119%;
            // margin: 0px;
        }
        p {
            font-size: 15px;
            line-height: 185%;
        }
        a {
            p {
                font-family: "Nunito", "sans-serif";
                font-size: 18px;
                line-height: 109%;
                text-align: right;
                .arrow-div{
                    justify-content: flex-end;
                    text-align: left;
                }
            }
        }
    }
    .card:hover {
        border: none;
        background: #1C2124 !important;
    }
}