$mobile-card-width: 95vw;
@media only screen and (min-width: 991px) {
    .div1-main{

        .div1 {
            display: flex;
        justify-content: center;
        // grid-template-columns: 1fr 1fr;
        // height: 10rem;\
        gap: 9px;
        // margin: 0vh 11vw;
        // height: 600px;
        // width: 80vw;
        margin: 2vw auto;
        // width: 300px;
        // height: 40vw;
        // min-height: 600px;
        .div1-large {
            // background: #1C2124;
            // height: 100% !important;
            // padding: 5rem;
            // height: 600px;
            // max-width: 500px;
            min-width: 450px;
            width: 40%;
            margin-right: 9px;
            .card {
                // margin-right: 9px;
                p,
                h3 {
                    margin: 0px auto !important;
                    width: 80%;
                }
                p {
                    font-family: Muli;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.2vw !important;
                    line-height: 200%;
                    /* or 36px */
                    
                    letter-spacing: 0.01em;
                }
                .content{
                    padding: 1vw 0px;
                }
                .title {
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 119%;
                    /* identical to box height, or 48px */
                }
            }
        }
        .div1--second {
            // height: 600px;
            display: grid;
            gap: 9px;
            grid-template-columns: 1fr;
            // width: 100%;
            // max-width: 500px;
            // margin: 0px;
            // gap: 0px;
            // background: red;
            min-width: 450px;
            width: 40%;
            .div1--second-top {
                .card {
                    background-size: cover !important;
                    // padding: 15px;
                    // min-width: 300px;
                    h3,
                    p {
                        padding: 0px 32px !important;
                        margin: 0;
                        // width: 420px;
                    }
                    h3 {
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 119%;
                        /* identical to box height, or 36px */
                        
                        color: #ffffff;
                    }
                    .content {
                        font-family: Muli;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1vw !important;
                        line-height: 208%;
                        /* or 33px */

                        letter-spacing: 0.01em;
                        color: #f4f4f4;
                    }
                    .content2 {
                        font-family: Muli;
                        font-style: normal;
                        font-weight: normal;
                        line-height: 223%;
                        font-size: 0.9vw !important;
                        /* or 31px */

                        letter-spacing: 0.01em;
                        
                        /* Placeholder */
                        
                        color: #f4f4f4;
                        .div1-ul {
                            display: flex;
                        }
                        ul {
                            li {
                                // width: 152px;
                            }
                        }
                    }
                }
            }
        }
        .div1--second--small {
            // width: 100%;
            display: grid;
            // height: 100%;
            gap: 9px;
            grid-template-columns: 1fr 1fr;
            .card {
                // width: 230px;
                // padding: auto;
                h3,
                p {
                    padding: 0px 12px !important;
                    margin: 0;
                    // width: 220px;
                    // margin: auto 0px;
                }
                p {
                    font-family: Muli;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.0vw !important;
                    line-height: 208%;
                    /* or 33px */

                    display: flex;
                    align-items: center;
                    letter-spacing: 0.01em;
                }
                .title {
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 119%;
                }
            }
        }
    }
    .indicators{
        display: none;
    }
}
}

@media only screen and (max-width: 990px) {
    .div1-main{
        margin: 0vw auto 5vw;
        .div1 {
            margin: 0vw auto 5vw;
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
        scroll-snap-type: x mandatory;
        width: $mobile-card-width;
        .card {
            scroll-snap-align: start;
            margin-bottom: 1vw;
            min-width: $mobile-card-width !important;
            p,
            h3 {
                padding: 0px 20px;
            }
            p {
                font-family: Muli;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 200%;
                /* or 28px */

                letter-spacing: 0.01em;
            }
        }
        grid-template-columns: 100%;
        gap: 0px;

        .div1--second {
            display: flex !important;
            .card {
                min-width: $mobile-card-width !important;
                margin-bottom: 1vw;
                .content2 {
                    .div1-ul {
                        display: inline;
                        ul {
                            margin: 0;
                            padding: 0;
                            padding-left: 20px !important;
                        }
                    }
                }
            }
            gap: 0px;

            .div1--second--small {
                display: grid;
                .card {
                    min-width: $mobile-card-width !important;
                    margin-bottom: 1vw;
                }
            }
        }
    }
    .list {
        display: flex;
        margin: 0px 0px;
        ul {
            margin: 0px 0px 0px 0px;
            padding: 1rem;
        }
    }
}
.indicators{
    display: flex;
    justify-content: center;
    .svg{
        fill: #208FFF;
    }
    svg{
        margin: 5px;
    }
}
}
