.footer-option {
    p {
        font-family: Aribau Grotesk;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 179%;
        /* or 32px */

        letter-spacing: 0.1em;

        color: #c5c5c5;
        min-width: 250px;
    }
}
