@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
.title-div{
    text-align: center;
    margin: 10vh;
    h3{
        line-height: 5px;
        font-size: 25px;
        font-family: "Nunito";
        font-weight: bold;
    }
    img{
        position: relative;
        left: 1px;
        // top: 2px;
        bottom: 7px;
    }
}

