.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #000000;
    .option {
        padding: 0px 15px;
      }
    .option1 {
        padding: 0px 15px;
        border-right: 1px solid white;
      }
    
  
    // .logo-container {
    //   height: 100%;
    //   width: 70px;
    //   padding: 25px;
    // }
  
    .options {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;

        .demo{
          // background: none;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          // margin-right: 10px;
          border: 0;
          color: white;
          cursor: pointer;
          background: #0A80F6;
          border-radius: 5px;
        }
      }
    }
<<<<<<< HEAD
=======
  }
.dropdown{
  // background: none;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // padding-left: 10px;
  // padding-right: 10px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border: 0;
  color: white;
  cursor: pointer;
  background: #0A80F6;
  border-radius: 5px;
  display: none;
}
.header2 {
    // height: 50px;
    display: none;
    width: 100%;
    // justify-content: space-between;
    background: #000000;
    .header2--flex{
      display: grid;
      gap: 30px;
      .option {
        line-height: 3vw;
        padding: 0px 10px;
        display: flex;
        justify-content: flex-end;
      }
          
          .demo{
            // background: none;
            line-height: 3vw;
            // padding-top: 10px;
            // padding-bottom: 10px;
            // padding-left: 10px;
            // padding-right: 10px;
            // margin-right: 10px;
            border: 0;
            color: white;
            cursor: pointer;
            background: #0A80F6;
            border-radius: 5px;
          }
        }
  }

  @media screen and (max-width: 570px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .dropdown{
    display: inline;
  }
  .header2{
    display: block;
  }
  .options{
    .option,.option1{
      display: none;
      line-height: 2vh;
    }
  }
>>>>>>> ffa115fa05950f009b217645679fa66809131baa
}