.div2{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20vw,1fr));
    margin: 10vw 10vw;
    gap: 1vw;

    .card{
        border: 1px solid #208FFF;
box-sizing: border-box;
border-radius: 4px;
    }
    .card:hover{
        border: none;
        background: #1C2124;
    }
}