.carousel-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2vw 10vw;
  gap: 1vw;
  .img {
    width: 39vw;
    height: 385px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .card{
      width: 39vw;
  }
}
