
@media screen and (max-width: 570px) {
    // MOBILE VIEW
    ul{
    list-style: none;
    padding: 0px 20px;
    }
    
    .footer-grid{
        color: white;
        background: #000000;
        display: grid;
        // justify-content: center;
        line-height: 25px;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 0px;
    }
}
@media screen and (min-width: 570px) {
    // PC VIEW
        ul{
        list-style: none;
        }
        
        .footer-grid{
            color: white;
            background: #000000;
            display: flex;
            justify-content: center;
            line-height: 25px;
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin: 0px;
        }
}