.faq-dropdown{
  // width:100%;
  .faq-dropdown-flex{
    display:flex;
    justify-content: center;
  }

    .collapsible {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    // width: 45vw;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid #dddddd;
    margin: 0vw 10vw;
  }

  
      .content {
        // width: 45vw;
            
        }
}