@media screen and (max-width: 570px) {
    // MOBILE VIEW
    .socials-div{
        display: grid;
        // justify-content: space-around;
        padding: 0px;
        margin: 0px 20px;
            
            button{
                background: none;
                // margin-left: 20px;
                // padding-top: 10px;
                // padding-bottom: 30px;
                // padding-left: 5px;
                // padding-right: 10px;
                // background: #0A80F6;
                border: 0;
                border-radius: 5px;
                color: white;
                cursor: pointer;
            }
        }
                .social-flex{
                    display: flex;
                    // justify-content: center;
                    // display: grid;
                    // grid-template-columns: 2fr 1fr 1fr 1fr;
                    // gap: 0px;
            
                }
}
@media screen and (min-width: 570px) {
    // PC VIEW
        .socials-div{
            display: flex;
            justify-content: space-around;
            
            button{
                background: none;
                // margin-left: 20px;
                // padding-top: 10px;
                // padding-bottom: 30px;
                // padding-left: 5px;
                // padding-right: 10px;
                // background: #0A80F6;
                border: 0;
                border-radius: 5px;
                color: white;
                cursor: pointer;
            }
        }
        .social-flex{
                    display: flex;
                    justify-content: center;
                    // display: grid;
                    // grid-template-columns: 2fr 1fr 1fr 1fr;
                    // gap: 0px;
            
                }
}
