@media screen and (min-width: 991px) {
  .dropdown-button {
    display: none;
  }
  .nav-div {
    transition: ease-in 0.1s;
    position: fixed;
    z-index: 9999;
    // left: 19.5vw;
    &.nav-scroll {
      background: #1C2124; ;   
      transition: ease-in 0.1s;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      // grid-template-columns: 30% 70%;
      color: white;
      // padding: 0vh 10vw;
      width: 70vw;
      margin: 0vh 15vw;
      // margin-bottom: 80px;
    }
    .nav-lg a {
      color: white;
    }
    .nav-sm {
      display: flex;
      align-items: center;
      font-weight: bold;
    }
    .nav-lg {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: bold;
      color: white;
      .option {
        .active {
          border-bottom: 3px solid #0e82f8;
        }
      }
      .option1 {
        .active1 {
          border-bottom: 3px solid #0e82f8;
        }
      }
      .option2 {
        .active2 {
          border-bottom: 3px solid #0e82f8;
        }
      }
    }
    .divide {
      border: 1px solid white;
      height: 30px;
      margin-right: 14px;
    }
    .padding {
      margin-right: 3rem;
      text-align: center;
    }
    .padding a {
      color: white;
    }
    .butt {
      background-color: #0e82f8;
      border-radius: 5px;
      font-family: "Nunito", "sans-serif" !important;
      font-weight: bold;
      padding: 15.53px 39px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 126.5%;
      text-align: center;
      font-weight: bold;
    }
    .butt:hover {
      background-color: #5cadff;
    }
    .nav-lg p {
      /* width: 25%; */
      color: white;
    }
    .none {
      display: flex;
      align-items: center;
    }
  }
}
@media screen and (max-width: 990px) {
  .nav-div {
    transition: ease-in 0.1s;
    position: fixed;
    z-index: 9999;
    // left: 19.5vw;
    &.nav-scroll {
      background: #1C2124; ;   
      transition: ease-in 0.1s;
    }
    .nav {
      // background-color: #1c2124;
      width: 100vw !important;
      .padding{
        display: flex;
        justify-content: space-around;
        .dropdown-button{
          // padding: 0px 10px;
          // height: 43.32px;
          border: none;
          border-radius: 3px;
          background: #0E82F8;
          width: 40px;
          svg{
            display: none;
          }
        }
        .dropdown-button:active{
          background: #5CADFF;
        }
        .dropdown-button:hover{
          background: #5CADFF;
        }
      }
    }
    .nav-lg {
      display: none;
      background-color: #1c2124;
      padding: 0px 0px 0px 20px;
    }
    .block {
      display: block;
      transition: ease-in-out 0.5s;
    }
    .nav-lg a {
      color: white;
      width: 100%;
      font-weight: bold;
      font-size: 22px;
      padding: 0px 0px 0px 20px;
    }
    .nav-lg {
      padding: 5px 0px 5px 0px;
    }
    .nav-lg li:hover {
      background-color: #5cadff;
    }
  }
}
