ul {
    list-style: none;
    text-decoration: none;
  color: white;

  }
  li{
  color: white;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .dp{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
  .nav{
    display: block;
  }
  .none{
    display: none;
  }
  .block{
    display: block;
  }
  @media screen and (min-width: 990px) {
   .dropdown-button{
     display: none;
   }
   .nav{
    display: grid;
    grid-template-columns: 30% 70%;
    color: white;
    margin: auto;
    width: 80%;
}
.nav-sm{
  display: flex;
  align-items: center;
  font-weight: bold;
}
.nav-lg{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.divide {
  border: 1px solid white;
  height: 30px;
  margin-right: 14px;
}
.padding {
  margin-right: 3rem;
  text-align: center;
}
.butt {
  background-color: #0E82F8;
  border-radius: 5px;
  padding: 15.53px 39px;
  border-radius: 5px;
}
.butt:hover{
  background-color:  #5CADFF;;
}
.nav-lg p{
    /* width: 25%; */
    color: white;
  }
  .none{
    display: flex;
    align-items: center;
  }

}  