.carousel-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // grid-template-columns: 1fr 1fr;
  margin: 2vw 10vw;
  // gap: 1vw;
  .carousel-img-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 100%;
    margin: 9vh ;
    .img {
      // margin: 0vw 2vw;
      // width: 39vw;
      width: 100%;
      height: 258px;
    }
  }
  .carousel-text-div{
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;

    h5{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    }
  }
  h3{
    line-height: 119%;
  }
  p{
      line-height: 195%;
  }
  .card{
      width: 39vw;

  }
}
.cr-btn{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  position: relative;
  z-index: 1;
  left: 12px;
  box-shadow: whitesmoke;
  top: 50px;
}
.cr-btn1{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  position: relative;
  z-index: 1;
  right: 12px;
  top: 50px;
}
.cr-btn img, .cr-btn1 img {
  width: 15px;
}
.banner{
  background: #FFFFFF;
  width: 100%;
  height: 87px;
  padding: 19px 0px 0px 0px;
  margin: auto;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}

@media only screen and (max-width: 700px) {
    .banner{
      padding: 0px;
    }
    .bor3{
      display: none;
    }
    .carousel-div {
    margin: 0vw 0vw;
}
  }