.arrow-div {
    transition: ease-in 1s;
    display: flex;
    align-items: center;
    .arrow {
        margin-left: 10px;
        img{
            width: 38px;
            height: 15px;
        }
    }
}

.arrow-div:hover{
    .arrow{
        img{
            transition: ease 0.2s;
            width: 76px;
        }
    }
}
