.arrow-div{
    display: flex;
    .arrow {
        width: 80px;
    transition: ease-in 1s;
    margin-top: 12px;
    
    .line {
        margin-top: 10px;
        width: 50px;
        background: #0E82F8;
        height: 4px;
        float: left;
    }
    
    .point {
        // margin-top: 0em;
        width: 0;
      height: 0;
      border-top: 0.5em solid transparent;
      border-bottom: 0.5em solid transparent;
      border-left: 30px solid #0E82F8;
      float: right;
    }
}

.long{
    // width: 120px;
    .line{
        transform-origin: left;
        transform: scaleX(1.6);
        transition: ease-in 0.5s;
        // transform: ;
    }
    .point{
        transform: translateX(30px);
        transform-origin: left;
        transition: ease-in 0.5s;
    }
}
    }