@font-face {
    font-family: "Aribau";
    src: url("asset//fonts//Aribau_Regular.otf");
    }
html, body{
    /* font-family: 'Times New Roman', Times, serif; */
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
    background: #111517;
}

.space-50{
    height: 50px;
}

/* Colors */

.about-text{
    padding-left: 35px !important;
}

.blue-text{
    color: #046BD3 !important;
    font-size: 18px;
    font-weight: bold;
}

h3,h4,h5,h6{
    /* margin: 0; */
    color: white;
    font-family: Nunito, sans-serif;
    /* font-size: 30px; */
    }

    h3{
        font-size: 36px;
    }

a>p{
        color: #039BE5;
}

p{
    font-size: 16px;
    color: white;
    font-family: 'Aribau';
}

.link-text{
    font-weight: bold;
    margin-right: 10px;
    font-size: 24px;
}