.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}
.middle{
  min-height: 60vh;
  margin-bottom: 100px;

}
@media screen and (min-width: 999px) {
.mobile-and-tablet-only{
  display: none !important;
}
}
@media screen and (max-width: 570px) {
  .pc-and-tablet-only{
    display: none !important;
  }
}
@media screen and (max-width: 999px) {
  .pc-only{
    display: none !important;
  }
  .App-header{
    width: 100vw;
  }
}
@media screen and (min-width: 570px) {
  .mobile-only{
    display: none !important;
  }
}
    
.contact-page, .about, .licensing, .faq{
  padding-top: 100px;
}
.top, .middle, .bottom{
  width: 100vw !important;
}
button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: unset;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face{
  font-family: 'Aribau Grotesk';
  src: url('./fonts/Aribau_Grotesk/Aribau\ Grotesk\ Italic.otf');
  font-style: italic;
}
@font-face{
  font-family: 'Aribau Grotesk';
  src: url('./fonts/Aribau_Grotesk/Aribau\ Grotesk\ Bold.otf');
  font-weight: 700;
}
@font-face{
  font-family: 'Aribau Grotesk';
  src: url('./fonts/Aribau_Grotesk/Aribau\ Grotesk\ Regular.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face{
  font-family: 'Aribau Grotesk';
  src: url('./fonts/Aribau_Grotesk/Aribau\ Grotesk\ Medium.otf');
  font-weight: 500;
}
@font-face{
  font-family: 'Aribau Grotesk';
  src: url('./fonts/Aribau_Grotesk/Aribau\ Grotesk\ Regular.otf');
  font-style: normal;
  font-weight: normal;
}