.div1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    // height: 500px;
    // width: 100vw;
    margin: 0px 0vw;
    .card {
        background: #1c2124;
        width: 400px;
        h3 {
            margin: 0;
        }
        p {
            margin: 0;
            font-size: 15px;
            line-height: 185%;
        }
        a {
            p {
                text-align: right;
            }
        }
    }
    .card:hover {
        background: transparent;
    }

    .div1--first {
        height: 400px;
        // width: 400px;
        position: relative;
        align-items: center;
        align-self: center;
        left: 1vw;
        // top: 50px;
        z-index: 1;

        .card {
            background: linear-gradient(
                179.94deg,
                rgba(28, 33, 36, 0) 46.47%,
                rgba(28, 33, 36, 0.87) 62.55%,
                #1c2124 80.28%,
                #1c2124 93.46%
            ) !important;
            width: 500px;
            p {
                // height: 400px;
                overflow: hidden;
            }
        }
    }

    .div1--second {
        // position: relative;
        .card {
            justify-content: flex-end;
            p {
                line-height: 178.5%;
            }
            margin: 0;
        }
    }
    .div1--second--small {
        display: grid;
        // position: relative;
        .card {
            justify-content: center;
            height: 250px;
            margin: 0;
            p {
                line-height: 185.5%;
            }
        }
    }
}
