#about-image-wrapper{
    position: relative;
    height: 355px;
}


.about-image-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.about-img{
    width: 95%;
    position: absolute;
    top: 0;
    left: 0;
}


@media only screen and (max-width:600px){
    .play-icon{
        width: 150px;
    }

    .about-img{
        height: 250px  !important;
    }

    .about-image-overlay{
        height: 250px;
    }
}