#about-image-wrapper{
    position: relative;
    height: 380px;
}
#about-image-wrapper .about-img{
    width: 95%;
    position: absolute;
    top: 0;
    left: 0;
}

#about-icon-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
}